[2022-04-12 03:37] lxfind commented on #1318
Overall the idea makes sense to me.
One thing you might find it challenging to deal with is object deletions. Currently when an object is deleted we just remove it from the `objects` table and it's easy to tell. But with (ID, Version) key I think it would be a bit tricky.

[2022-04-12 04:01] awelc commented on #20
We should talk about this in more detail as I am not sure if ObjectID escape analysis comes before or after the typed AST is produced, nor why we necessarily have to care about it...

[2022-04-12 13:31] huitseeker opened #1322 "[docs] wrong link on Sui compared"
On https://docs.sui.io/learn, [Sui compared to other blockchains](https://docs.sui.io/learn/sui-move-diffs) is linked to the wrong page.

[2022-04-12 15:07] Clay-Mysten commented on #1322
Fixed in PR #1320 1320

[2022-04-12 15:22] Clay-Mysten commented on #1322
Merged. Thanks, François!

[2022-04-12 15:22] #1322 closed

[2022-04-12 15:38] #1306 closed

[2022-04-12 15:52] patrickkuo commented on #1297
current genesis is not deterministic, it generate random keys and objects, so it will create different result if we run it again in gateway even with the same genesis config.
We can create the client_db as part of the genesis process, so the gateway will have a "primed" db instead of an empty one when it first start.

But how do we handle this in production? A new joiner gateway will need to someh

[2022-04-12 15:53] lxfind commented on #1297
Shouldn't we make the genesis config deterministic then?

[2022-04-12 16:37] lxfind opened #1323 "[Move devex] Make module initializer statically verifiable"
Currently we dynamically check if a Move function satisfies the conditions of being an initializer, and if so, we run it during module publish.
This is error-prone and could lead to bugs/surprises.
We should just enforce that all module initializers must have a special name, like `__init__`, and it can be `public` so that we could also call it in tests.

[2022-04-12 16:37] lxfind opened #1324 "[Move devex] Fix all the TODOs in TestScenario.move"
There are quite a few TODOs in TestScenario.move. We need to finish them.

[2022-04-12 16:37] lxfind opened #1325 "[Move devex] Allow inspecting events in Move unit tests"
We need to provide a testing framework around events.

[2022-04-12 16:40] lxfind opened #1326 "[MoveLib] Best practice for assertions in unit tests"
Right now we have to write `assert!(<cond>, 0)` where we don't really care about the error code in test assertions (because there will be so many and we have proper stacktrace).
We could add a macro like `test_assert!` or add an API like `TestScenario::assert`?

[2022-04-12 16:41] lxfind opened #1327 "[MoveLib] Make sure a child object of a shared object cannot be arbitrarily transferred"
The root issue around https://github.com/MystenLabs/sui/issues/1228.

[2022-04-12 16:42] lxfind opened #1328 "[MoveLib] Properly authenticate owner in TestScenario::remove_nested_object"
The current native implementation of `TestScenario::remove_nested_object` doesn't authenticate the owner of the parent object. We should do that.

[2022-04-12 16:44] lxfind opened #1329 "[Move devex] Rename all module names to lower case"
Something like `use Sui::TxContex::{Self, TxContext}` could be confusing, as the module name is the same as the struct name in it.
This is everywhere throughout our framework.
Most languages (Rust, Python, Java and etc.) try to have module name lower case to not confuse with type names.
We should do the same for both Sui framework and Stdlib.

[2022-04-12 16:50] velvia commented on #1318
@lxfind

I guess the question is how we want to expose object deletions to a user.  Maybe through events?

[2022-04-12 16:53] lxfind commented on #1318
Not just about what to expose to a user (which is the easier part, we already have it in the transaction effects). It's about when authority receive a new transaction, it needs to check whether an object is in the store.
I think you will hit this once you start working on it and the issue will be clearer.

[2022-04-12 18:47] lxfind opened #1330 "[wallet] Wallet would crash if the number of arguments don't match when making a Move call transaction"
Looks like any error will lead to wallet crash.

[2022-04-12 21:18] awelc commented on #1043
@Andrew47 - it seems like at this point we are still debating what to do here exactly, but I think there are some simple things at the UI level that would help even if we don't change the actual data:
-  perhaps instead of current "boxes" that display the whole "content" part of the JSON message, we can display just the key (e.g, "Coin", "Collection") that represents the module name and display th

[2022-04-12 21:51] bwann52 opened #1337 "Explorer: view smart contracts details"
on smart contracts details, see
- Object types defined by the contract
- Address that published the contract
- Other contracts this contract depends on
- Other contracts that depend on this contract

[2022-04-12 22:39] awelc commented on #1043
A bit of additional info on this - it seems like conversion to JSON in `/object_info` is currently broken due to changes in the rest server. In the process of putting it back in, we will likely at least simplify what is being displayed and limit it to function signatures and defined types (tagging @patrickkuo who is the most likely person to work on this).

[2022-04-13 00:36] awelc commented on #1115
The discussion is ongoing in https://github.com/MystenLabs/sui/issues/1043 so closing this one as a duplicate.

[2022-04-13 00:36] #1115 closed

[2022-04-13 00:39] awelc opened #1341 "[Move devex] IDE support for go-to-definition (VSCode)"

[2022-04-13 00:40] awelc opened #1342 "[Move devex] IDE support for type-on-hover (VSCode)"

[2022-04-13 00:41] awelc opened #1343 "[Move devex] IDE suport for go-to-references (VSCode)"

[2022-04-13 00:42] awelc opened #1344 "[Move devex] Move CLI integration with VScode"
Provide the ability to build and test Move code from inside IDE using (confgurable) CLI of developer's choice (e.g., core Move CLI or sui-move CLI).

[2022-04-13 00:44] awelc opened #1345 "[Move devex] IDE support for better auto-completion (VSCode)"
At this point we have context-insensitive auto completion of Move keywords only. Would be great to introduce context sensitivity and auto-completion beyond keywords (e.g. for function names or struct names upon specifying module where they are defined).

[2022-04-13 00:46] awelc opened #1346 "[Move devex] IDE support for displaying on-the-fly errors (VSCode)"
This is different than enabling building of Move code within the IDE (https://github.com/MystenLabs/sui/issues/1344). This one is about signaling errors (e.g., syntax errors) as the developer types in the IDE's editor window.

[2022-04-13 00:47] awelc opened #1347 "[Move devex] IDE support for auto-formatting Move code (VSCode)"
Once we have Move auto-formatter, we should integrate it with VSCode (and other IDEs in the future).

[2022-04-13 00:49] awelc opened #1348 "[Move devex] IDE support for rename refactoring (VSCode)"
This should be simple once we have go-to-definition (https://github.com/MystenLabs/sui/issues/1341) and to-to-references (https://github.com/MystenLabs/sui/issues/1341) as this all the info needed for this refactoring.

[2022-04-13 02:59] kyleqian opened #1349 "[wallet CLI] new-address doesn't update wallet.key"
`wallet new-address` doesn't actually update `wallet.key` or create a new one if it doesn't already exist.

This is not a problem for localnet because `sui genesis` initializes `wallet.key` properly, but is a non-starter for devnet and beyond.

NOTE: It's probably not viable to just re-use [SuiKeystore::save](https://github.com/MystenLabs/sui/blob/main/sui/src/keystore.rs#L93), like `sui genesis`

[2022-04-13 03:49] kyleqian opened #1350 "[wallet CLI][devnet] new-address causes wallet CLI to stop working"
When connected to devnet, running `wallet new-address` (which succeeds) causes every subsequent `wallet` command to result in the following:
[code]

Repro steps:
* Start with an empty Sui config directory at `~/.sui/sui_config`
* Create a new `wallet.conf` file in there as specified in [this devnet doc](https://docs.google.com/document/d/1Pskfn_jf_eOhHDTNe0DnWNI90iEULBP_37HAJBLw3hU/edit#)
* Run `w

[2022-04-13 03:52] kyleqian opened #1351 "[devnet] faucet is broken"
The [devnet faucet](https://docs.google.com/document/d/1Pskfn_jf_eOhHDTNe0DnWNI90iEULBP_37HAJBLw3hU/edit#heading=h.ai81cve0yn92) seems to be broken.

[code]

Not sure if the error is related to #1350, where I can't properly create a new address.

[2022-04-13 05:02] lxfind opened #1352 "[MoveLib] TestScenario::can_remove_object is not consistent with TestScenario::remove_object"
The implementation is quite different, and hence `can_remove_object` doesn't guarantee the success of `remove_object`.
e.g. doesn't check ambiguous case, doesn't check already removed case and etc.

[2022-04-13 09:15] gdanezis commented on #1318
Yes, I like this proposal. In fact this is how we intended the validator to operate to start with, but the objectID indexing was used instead to also allow for latest object indexing and deleting older objects, in a unified way. Now, we would benefit from disentangling these for all the reasons mentioned.

[2022-04-13 09:19] gdanezis commented on #1318
In terms of the option 1 vs option 2: I have a mild preference for `(ObjectID, SequenceNumber)`. This allows us to garbage collect older objects, as well as potentially down the line do object based sync using the keys only, rather than having to deserialize full objects. This is mild however.

[2022-04-13 15:12] Andrew47 opened #1355 "[explorer] Fixing Dependabot Security Alerts"
The raised issue was regarding `async` but running `yarn audit` raised a moderate issue with `nth-check` as well. The SuiExplorer codebase was set up with `npm` rather than `yarn`. So there will be a switch from `npm` to `yarn` as well to enable quick fixes using `resolutions` in package.json and for consistency with the TypeScript SDK.

[2022-04-13 15:39] #396 closed

[2022-04-13 15:40] gdanezis commented on #324
ok @velvia has now ported logging to the tracing framework, so closing this.

[2022-04-13 15:40] #324 closed, assigned to nobody

[2022-04-13 15:41] gdanezis commented on #314
@lxfind is this still an issue?

[2022-04-13 15:41] gdanezis commented on #312
@oxade any news :)

[2022-04-13 15:44] gdanezis commented on #194
This is the background discussion to the #1099 issue.

[2022-04-13 16:09] #314 closed

[2022-04-13 16:21] Andrew47 opened #1357 "Explorer: Update Instructions for Connecting SuiExplorer to localnet"
This follows up on an issue raised by @kyleqian regarding the instructions here: https://github.com/MystenLabs/sui/tree/main/explorer#data-source--rpc-url

[2022-04-13 16:24] Andrew47 commented on #1357
@kyleqian provided the following error message:

![image](https://user-images.githubusercontent.com/11377188/163226058-2b4430bc-910e-4ed6-8285-2d1591171a26.png)

@kyleqian --> To fix this issue, we will need details on how to replicate the above error message. We will then be able to trial several approaches to find a solution. In particular, we will need details on:

* What is the SuiExplorer URL

[2022-04-13 17:35] Clay-Mysten commented on #1065
I'm noting we are on the path to:
Identify the audiences/users
Outline respective workflows of users
Draft instructions for enabling most common workflows
Test instructions internally
Conduct user testing and case studies

Xun has made excellent progress here:
https://github.com/MystenLabs/sui/blob/main/doc/src/build/programming-with-objects/index.md

With notes on that content in:
https://app.gol

[2022-04-13 17:57] kyleqian commented on #1357
Repro:
1. Start local Sui via `sui genesis` and `sui start`
2. Start local rest server via `ACCESS_CONTROL_ALLOW_ORIGIN=* rest_server`
3. Start local explorer
4. Visit `http://localhost:3000/?rpc=http%3A%2F%2F127.0.0.1%3A5001%2Fapi`
5. Search any object id (I used one of my address's gas objects)
6. I believe for that specific error, I was expecting an empty array, because it lists owned objects o

[2022-04-13 19:04] lxfind opened #1358 "[MoveLib] `TestScenario::remove_object_by_id` is not usable"
`TestScenario::remove_object_by_id` requires knowing the object ID to call it.
However, most of the time when we create a new object (if the object type is not defined in the test module), we don't actually know the object ID. Hence there is no way to call it.
We likely need a native function that can return the newly created object ID from the inventory.

[2022-04-13 20:07] awelc commented on #1043
@Andrew47 - it seems like my comment about UI improvements was a bit redundant as you already suggested a solution with a scrollable box, which takes care of my first suggestion. The second one still stands, though - I think that end-of-lines are not handled correctly which does not help legibility of the output.

In terms of how to identify objects representing Move code, I would say that using o

[2022-04-13 21:17] #1355 closed

[2022-04-13 23:45] Clay-Mysten opened #1362 "Refactor Build documents to match common flow"
While working through the critical user journeys of our users in issue #1065, we settled upon an ideal flow for primary audience, app developers, and will now set about making these changes from the current list from a flat list of:
Build
- Install Sui
- Write Smart Contracts with Move
- Create Sui Wallet
- Use Sui REST Server
- Employ SuiJSON Format
- Understand Authorities
- Manage Objects
- Con

[2022-04-13 23:49] Clay-Mysten opened #1363 "Reorganize Learn section into subsections"
While working through the critical user journeys of our users in issue #1065, we determined that much conceptual information resides in our Build docs that would be better served under Learn.

This work is related to the Refactor Build documents to match common flow
Issue:
https://github.com/MystenLabs/sui/issues/1362

To make this move possible, we need to expand the Learn section into subsection

[2022-04-13 23:49] Clay-Mysten commented on #1363
See this outline and more in:
app.golinks.io/sui-cuj-doc

Note, this will require searching (grep) through all files for each section header, as well as file, affected since we link deeply into our Learn and Build contents.

[2022-04-13 23:50] Clay-Mysten opened #1364 "Replace Authorities with Validators throughout"
In the Validator Onboarding Kickoff meeting last week, we settled upon renaming Authorities as Validators throughout our technical contents. This affects:
docs.sui.io
Sui white paper
And the nuances described here:
https://docs.sui.io/learn/sui-compared#authorities-vs-validatorsminers

I am undertaking the Dev Portal docs first and have asked the white paper team if they want help with that docume

[2022-04-13 23:51] Clay-Mysten opened #1365 "Add purpose statement to top of every procedure"
In meeting with Jennifer during our critical user journey work, we agree we focus upon the how in our technical docs but rarely describe why our users should undertake the work we ask of them. To this end, I propose we add a brief purpose statement to every document under Build, no more than two sentences, explaining:
the reason for using the page
the expected outcome

We should also ask for this

[2022-04-13 23:51] Clay-Mysten opened #1366 "Test and add back dollar signs to commands"
Now that Godwin has the Dev Portal stripping dollar signs ($) from commands, we can re-include them. I’ve started this work in wallet.md and need to go through all pages to make this work complete.

I’ve already updated the internal Dev Portal instructions to note we now include dollar signs as command prompts.

[2022-04-13 23:52] Clay-Mysten opened #1367 "ID system requirements for developers and validators"
We say absolutely nothing about the hardware and software required to work with Sui:
https://docs.sui.io/build/install
https://docs.sui.io/contribute

I imagine we should and likely must in time as we ramp up validators. Ally is working on it.

Let’s figure this out for all audience types.

[2022-04-13 23:59] Clay-Mysten opened #1368 "Convert whitepaper LaTex to Markdown for display as web pages"
As with the white paper PDF move, we can greatly improve access to the knowledge within our Sui white paper by making it available in web form. I’m looking into Pandoc now:
https://pandoc.org/

I want to automate this. I fear the sticking point will likely be images. Let’s see what we can do.

[2022-04-14 06:25] oxade commented on #312
I was not happy with the initial impl here https://github.com/MystenLabs/sui/pull/587 since its messy
I'm trying to do the enforcement in one central place but the risk is that we may have objects in inconsistent states in the adapter/authority. Working on a cleaner soln for this

[2022-04-14 16:00] Andrew47 commented on #1357
@kyleqian --> The problem is that there is a mismatch between the deployed endpoints for the https://demo-rpc.sui.io API and the local endpoints when `rest_server` is run. The SuiExplorer Website was created based on the API endpoints for https://demo-rpc.sui.io/.

Take for example how the objects on an address are found.

For demo-rpc.sui.io, the following endpoint works: https://demo-rpc.sui.io/

[2022-04-14 16:21] bwann52 opened #1372 "Google index SEO optimization bug"

[2022-04-14 16:26] bwann52 commented on #1248
Empty files are causing errors when publishing, need a solution. @Jibz1 suggests: do not add incomplete content/files to the main branch.
cc @lxfind @Clay-Mysten

[2022-04-14 16:30] bwann52 opened #1373 "password protection for deployment link and staging sites"

[2022-04-14 16:31] lxfind commented on #1248
Yeah we can remove the empty ones for now for sure

[2022-04-14 16:48] Clay-Mysten commented on #1372
This appears to be the issue:
https://sui.io/robots.txt
https://docs.sui.io/robots.txt

Which both have:
[code]

But the HTML file extension doesn't exist:
https://docs.sui.io/learn/how-sui-works.html
"That page can't be found"
It looks like nothing found at this location. Try to navigate the menu or go to the home page."

Instead per:
https://developers.google.com/search/docs/advanced/robots/crea

[2022-04-14 17:25] Andrew47 commented on #1043
@awelc --> I've looked into the end-of-line handling issue and found a way to render `\n` that improves the formatting of the code. I've updated the code branch associated with this issue. For convenience, the below video shows the code change in action:

https://user-images.githubusercontent.com/11377188/163440469-e5ff99ea-ae0a-43f8-894b-8d05c11918d2.mov

 It looks like the next step will be to s

[2022-04-14 17:26] Clay-Mysten commented on #1372
I supplied the fix. If you point me at the files, I will fix them directly.

[2022-04-14 17:27] Jibz1 commented on #1372
@Clay-Mysten that file is auto generated. I already have a fix. should be live soon

[2022-04-14 17:37] bwann52 commented on #1197
@stella3d do we also have the ability to see list of epochs (not clickable)?

[2022-04-14 18:35] Jibz1 commented on #1372
@Clay-Mysten  the robots.txt is updated https://docs.sui.io/robots.txt

[2022-04-14 18:45] Clay-Mysten commented on #1248
Hi Xun, I'm slotting this in the TestNet milestone while triaging. Please feel free to move as you desire. Thanks!

[2022-04-14 18:52] Clay-Mysten commented on #1102
Adding the team for guidance and review once I'm underway.

[2022-04-14 19:02] Clay-Mysten commented on #370
Hi François,

I'm writing to see what remains uncovered in this request given the existence of:
https://github.com/MystenLabs/sui/blob/main/doc/src/build/install.md
https://github.com/MystenLabs/sui/blob/main/doc/src/build/wallet.md
https://github.com/MystenLabs/sui/blob/main/doc/src/build/rest-api.md
https://github.com/MystenLabs/sui/blob/main/doc/src/build/move.md

And the forthcoming(?):
https:

[2022-04-14 19:06] Clay-Mysten commented on #1242
See the related request in:
https://github.com/MystenLabs/Prose/issues/13

[2022-04-14 19:10] Clay-Mysten commented on #1372
Awesome, Godwin! Now we wait. :-)

[2022-04-14 21:27] awelc opened #1381 "[Move devex] Move auto-formatter"

[2022-04-14 22:51] todd-mystenlabs opened #1382 "[P0] [Umbrella] Publicly-accessible Sui Network"
# Details

## Goals
* Four validators.
* One gateway.
* Gateway capable of serving latest transaction data.
    * Notes on Gateway transaction-serving [here](https://docs.google.com/document/d/1CP0hOcRZC4ivcj71pinFs9Ac8S9RzdiREpBEhdkCFuQ/edit?usp=sharing) (Xun's approach).
    * Used by Sui Explorer.

## Non-Goals
* Replica / full-read service.
* Strict backwards compatibility at the protocol leve

[2022-04-14 22:51] todd-mystenlabs opened #1383 "[P0] [Umbrella] Operational Must-haves"
# Goals
* Load testing
* Deployment
* Logging
* Monitoring
* On-call Rotation
* Debuggability

# Dependent Tasks
* MystenLabs/devnet#3
* MystenLabs/devnet#4
* MystenLabs/devnet#5
* #398 -- outdated?

[2022-04-14 22:52] todd-mystenlabs opened #1384 "[P0] [Umbrella] Sui Explorer Latest Transactions View"
# Details
[Xun's doc](https://docs.google.com/document/d/1CP0hOcRZC4ivcj71pinFs9Ac8S9RzdiREpBEhdkCFuQ/edit?usp=sharing) on the quickest way to satisfy this requirement, which involves having all user txes go through a gateway service operated by Mysten so we don't need full nodes

# Dependent Tasks
* #1264

[2022-04-14 22:52] todd-mystenlabs opened #1385 "[P0] [Umbrella] Validator Read/Query Support"
# Details
* Publicly-accessible.

## P1 stretch - full node
* *If* we got a full node, where the full node contains a replica for reading, *then* we would want the validators to be write-only.

# Dependent Tasks
* todo?

[2022-04-14 22:53] todd-mystenlabs opened #1386 "[P1] [Umbrella] Sui Explorer Object View"
# Goal
Be able to display objects.

# Dependent Tasks
* Render `name`, `description`, and `url` field specially
* #705

[2022-04-14 22:53] todd-mystenlabs opened #1387 "[P1] [Umbrella] Token Faucet Service (self-serve)"

[2022-04-14 22:53] todd-mystenlabs opened #1388 "[P2] [Umbrella] Bare-bones Consensus / Shared-Object Support"
# Goal
Includes:
* appointing designated validator for as sequencer

# Dependent Tasks
* #976
* #633

[2022-04-14 23:00] todd-mystenlabs opened #1389 "[P2] [Umbrella] Functional TypeScript SDK"
# Goal
* Developer can write an app in TypeScript or JavaScript that interacts with the Sui public devnet node.

# Dependent Tasks
- https://github.com/MystenLabs/sui/issues/1568
- https://github.com/MystenLabs/sui/issues/1569
- https://github.com/MystenLabs/sui/issues/1570
- https://github.com/MystenLabs/sui/issues/1578
* #1143
* #1145
* #1146

[2022-04-14 23:01] todd-mystenlabs opened #1390 "[P2] [Umbrella] Functional C# SDK"
# Details
* Developers can write an app in C# that interacts with the Sui public devnet node.

# Dependent Tasks
* #1225

[2022-04-14 23:20] Clay-Mysten commented on #1364
Here are all of the references in the Sui repository:

[authorit-sui-refs.txt](https://github.com/MystenLabs/sui/files/8492811/authorit-sui-refs.txt)

Sam, a lot of this is in the code. Are we updating those references now? If not, it could get confusing to have validators in the text and authorities in the code and code samples. Talks to me.

[2022-04-14 23:21] Clay-Mysten commented on #1065
Adding Sam to review these PRs per Adam before I merge:
https://github.com/MystenLabs/sui/issues/1362
https://github.com/MystenLabs/sui/issues/1363

[2022-04-14 23:33] Clay-Mysten commented on #1364
Here is a problematic example:

[code]
I assume we would not change sui_core::authority to sui_core::validator now. But:
1. When and by whom?
3. Won't it confuse users to see "authority" everywhere in the code and output?

[2022-04-14 23:36] Clay-Mysten commented on #1364
And so on:

[code]

[2022-04-15 00:01] Clay-Mysten opened #1391 "Update docs to reflect switch to public(script) for Sui Move entry points"
Todd made enhancements in PR #1333 we should make clear in the docs:
https://github.com/MystenLabs/sui/pull/1333

He's already taken care of the code examples in the docs. We need to work together to update the instructions.

Thankfully, Xun has offered to update the tutorials (assuming programming with objects) to reflect this change. Adding him here for credit as a reviewer.

Todd says he's stil

[2022-04-15 02:17] lxfind opened #1393 "[Gateway] Implement transaction retry logic in various layers"
A transaction when executed on a Gateway, will first lock all input objects, and after receiving signed effects from a quorum, would unlock them and commit the effects to the local store.
However, the process can fail due to various reasons, such as network failure, temporary authority failure and etc.
When this happens, the gateway will be stuck in limbo, with all input objects locked.
To solve t

[2022-04-15 05:06] lxfind opened #1394 "[Umbrella] [MoveLib] Tokenomics and Governance contract"
Governance contract contains information regarding the validator set, stake and etc.
Design doc: https://www.notion.so/mystenlabs/Sui-Governance-Contract-256b63894b9c47f79bd188444024187b
PRs merged so far:
- https://github.com/MystenLabs/sui/pull/1436
- https://github.com/MystenLabs/sui/pull/1575

[2022-04-15 06:01] todd-mystenlabs opened #1396 "[P1] [Umbrella] Move Enhancements - DevNet"
# Details

## move-adapter-arguments
* Objects in any order
* Vectors of objects

# Dependencies
* #1403
* #1413
* #1270
* #1323
* #19 - done?
* #340
* #527 - done?
* #531 - priority?
* #609

[2022-04-15 06:01] todd-mystenlabs opened #1397 "[P2] [Umbrella] Move DevNet Polish"
# Details
## move-module-initializers-static-verification
* The checks for init are a bit wonky and dynamic, we should just tighten them and make them static like we did for entry points

## move-vm-error-categorization
* The errors coming out of the VM are all dumped into this “module verification error” bucket, that ain't good

## move-better-compiler-error-message
* A few starters: https://gith

[2022-04-15 17:13] Clay-Mysten commented on #1364
Let's also move authorities.md into a learn/architecture subdirectory while renaming to validators.md per:
https://github.com/MystenLabs/sui/issues/1363

[2022-04-15 17:15] Clay-Mysten commented on #1362
Godwin, I'm adding you to this and PR #1363 to ensure we can indeed have three levels in the left navigation.

[2022-04-15 17:52] 666lcz opened #1400 "[P1] [Umbrella] Interface for creating rich objects"
# Goal
Provide an easy interface for DevNet users to create rich objects.

# Description
Right now to create an object other than `Coin<SUI>`, users have to identify a Move module and use the wallet command line tool to call the move code, which is a tedious step. Before we have an end to end App productionized(which relies on some sort of wallet), we can add a new command to the existing wallet c

[2022-04-15 17:56] 666lcz commented on #1400
related discussion: https://mysten-labs.slack.com/archives/C03B9HG1T61/p1650041729654779?thread_ts=1649967820.735299&cid=C03B9HG1T61

[2022-04-15 18:04] #1364 closed

[2022-04-15 18:34] Clay-Mysten opened #1401 "Fix installing the move-analyzer language server cargo command"
From here:
https://docs.sui.io/build/install#ide

We suggest and link to:
https://marketplace.visualstudio.com/items?itemName=move.move-analyzer

That recommends:
[code]

Which yields this error:
[code]

So I found the move-analyzer in our newly moved Move docs repo here:
https://github.com/move-language/move/tree/main/language/move-analyzer

And attempted to install with either:
[code]
Or:
[code]

[2022-04-15 18:45] bmwill opened #1402 "Add network identity information to the on-chain SystemObject"
Today there is no identifying information present on-chain making it difficult to know if a particular network is a devnet, testnet, or mainnet. Adding some sort of `network_id` or `chain_id` to the SystemObject would enable SC developers or users to query the network to figure out the identity of the network.

In addition we should probably include some mechanism into our client APIs for querying

[2022-04-15 19:09] lxfind opened #1403 "[Move devx] Show stacktrace when execution aborts in native function"
Currently we only show stacktrace if it aborts in Move code, not when native function aborts.

[2022-04-15 22:57] huitseeker commented on #1401
The correct comment is `cargo install --git https://github.com/diem/move move-analyzer`: the move repo location changed

[2022-04-16 18:22] todd-mystenlabs opened #1409 "[P1] [Umbrella] Protocol Stabilization for DevNet"
# Details

# Dependent Tasks
* #729
* stretch from Pre-TestNet: #1419
* Add network ID #1402
* #312
* #182
* #394
* #248
* #271

[2022-04-16 19:11] todd-mystenlabs commented on #1005
@bmwill - did you say you addressed this?  We can close it out if so.

[2022-04-16 19:14] todd-mystenlabs commented on #1223
Based on [this thread](https://mysten-labs.slack.com/archives/C0393DWJD7X/p1649113083830539), I think some combo of @kchalkias and @patrickkuo are working on this. Are there more specific GitHub Issues covering those?  Looking to figure out what state this is in.

[2022-04-16 19:16] todd-mystenlabs commented on #1223
(There's a signing service task on Kostas and a gateway service task on Patrick.)

[2022-04-16 19:23] todd-mystenlabs commented on #1402
Seems like a protocol P0 for testnet, maybe P1 for devnet.

[2022-04-16 19:26] todd-mystenlabs opened #1410 "[P1] [Umbrella] Protocol Stabilization Improvements"
# Details

These are P1s for DevNet, P0s for TestNet.

# Dependencies
* #1402
* #394
* #231
* #271
* #560
* #1159
* #1160

[2022-04-16 19:34] todd-mystenlabs commented on #1410
@kchalkias - the network identity that @bmwill brought up seemed a lot like the signing intent work in terms of priority.  Maybe we link your GH Issue here as well?

[2022-04-16 22:09] kchalkias commented on #1402
Thanks Brandon! This is important to protect against replaying in case of a future network fork as well, not necessarily between existing different networks.

[2022-04-17 22:08] lxfind opened #1413 "[Move Devex] IR ERROR: TODO Structs are not *yet* supported in constant type layouts"
I sometimes got compiler error like this:
[code]
Very confusing error.

[2022-04-18 01:02] todd-mystenlabs commented on #1401
@Clay-Mysten - does @huitseeker's comment address this?

[2022-04-18 01:11] todd-mystenlabs opened #1414 "[Umbrella] Bare-bones Reconfiguration/Epoch Support"
# Details
We expect the following as bare-bone requirements:
- There is epoch and it changes through reconfiguration
- Validator set is able to change at epoch boundary
- Transactions are consistently executed within epochs (i.e. a cert can only be executed at one epoch across all validators)

Requires checkpointing to work first.

Design and Eng Plan: Design: https://www.notion.so/mystenlabs/Sui-

[2022-04-18 01:21] 666lcz commented on #1161
@patrickkuo , would you like to take this one for the JSON-RPC server?

[2022-04-18 01:23] todd-mystenlabs opened #1415 "[P1] [Umbrella] Move DevEx Enhancements - MainNet"
# Details

# Dependent Tasks
* #1381
* #1348
* #1347
* #1346
* #1345
* #1342

[2022-04-18 01:26] todd-mystenlabs commented on #1372
How long will this take to see if it works?

[2022-04-18 01:27] todd-mystenlabs commented on #1368
Are the images coming across, @Clay-Mysten?

[2022-04-18 01:29] todd-mystenlabs opened #1416 "Validator Requirement Collection/Documentation"
# Details
Collect requirements for running validators:
* ~Minimum system specs. @oxade provided these.~
* Public containers?  Need to determine if we're providing these.  @tharbert
* Docs for deploying a node from containers.  @Clay-Mysten - we've got a starting point for this in the (private) sui-operations repo README.md (might be in the k8s directory if not top level).

# Dependent Tasks
* #136

[2022-04-18 01:32] todd-mystenlabs commented on #1416
@oxade, do you have any GitHub Issues already filed for tracking the machine-spec, benchmark-collection work we've started looking at more closely in the last few days?

[2022-04-18 01:32] Jibz1 commented on #1372
I don't think this will make a difference.

[2022-04-18 01:34] todd-mystenlabs commented on #1358
Any guess as to which milestone we want this for?

[2022-04-18 01:37] todd-mystenlabs commented on #1357
This feels like a DevNet fix.

[2022-04-18 01:38] todd-mystenlabs commented on #1357
@stella3d / @Andrew47  - do we have a GitHub issue filed for the backend side of this?

[2022-04-18 01:41] todd-mystenlabs opened #1417 "[P0] [Umbrella] Bare-bones Sui Explorer DevNet Usability"
# Details

Must-have fixes for enabling usability of Sui Explorer at DevNet time.

# Dependent Tasks
* #1357
* #1418

[2022-04-18 01:45] todd-mystenlabs opened #1418 "Back-end Endpoint Fixes for #1357"
#1357 references a potential end-point change.  This task is meant to capture it, which includes determining the right fix.

[2022-04-18 01:47] todd-mystenlabs commented on #1351
Hey all - any thoughts on what's going on here? Is there a service we're supposed to be running that has either changed or is not running?

[2022-04-18 01:50] todd-mystenlabs commented on #1350
@patrickkuo - any thoughts on what's happening here?

[2022-04-18 01:57] todd-mystenlabs opened #1419 "[Umbrella] Bare-bones Full Node Support"
#  Details

# Dependent Tasks
* #222
* #659
* #1297
* #1298

[2022-04-18 02:04] todd-mystenlabs commented on #1381
Is this related to #1347, or a duplicate, or an umbrella around multiple IDEs?

[2022-04-18 02:08] todd-mystenlabs opened #1420 "[P1] [Umbrella] Move DevEx Enhancements - TestNet"
# Details

# Dependent Tasks
* #1344
* #1343
* #1341

[2022-04-18 02:16] todd-mystenlabs opened #1421 "[P1] [Umbrella] Explorer Enhancements - Pre-TestNet"
# Details

These are Sui Explorer enhancements we'd like working by Pre-TestNet.

# Dependent Tasks
* #1337
* #1275
* #1207
* #1206
* #1204
* #1203
* #1261

[2022-04-18 02:26] todd-mystenlabs commented on #1328
@lxfind - what's the scope of where TestScenario is used? Is it part of our test framework?  Trying to figure out where this slots into milestones.

[2022-04-18 02:27] todd-mystenlabs opened #1422 "[P0] Bare-bones Movelib Fixes - Pre-TestNet"
# Details

# Dependent Tasks
* #1327
* #1228

[2022-04-18 02:31] todd-mystenlabs opened #1423 "[P1] [Umbrella] Move Testing Enhancements"
# Details

# Dependent Tasks
* #1328
* #1326
* #1325
* #1324

[2022-04-18 02:36] todd-mystenlabs commented on #1323
@tnowacki - I think you're already doing this, right?  I thought I saw a PR fly by that added the requirement to flag initializers explicitly.

@lxfind - also assigned to you to make sure this covers what you were looking for.

[2022-04-18 02:39] todd-mystenlabs opened #1424 "[P1] [Umbrella] Protocol Enhancements - Pre-TestNet"
# Details

# Dependent Tasks
* #1319
* #1220

[2022-04-18 02:43] todd-mystenlabs opened #1425 "[P1] [Umbrella] Storage Enhancements - Pre-TestNet"
# Details

# Dependent Tasks
* #1318
* #1136
* #297

[2022-04-18 02:46] todd-mystenlabs commented on #1313
Are we keeping the rest server endpoints for devnet? I thought we were dropping the rest endpoints and going with json-rpc over https?
cc: @lxfind @patrickkuo

[2022-04-18 02:49] todd-mystenlabs opened #1426 "[P1] [Umbrella] CLI Enhancements"
# Details

Improvements to CLI tooling for Pre-DevNet.

# Dependent Tasks
* #1307
* #1300

[2022-04-18 02:51] awelc commented on #1381
We need a formatter as a standalone tool before we can integrate it with an IDE (e.g., could also be integrated as a commit time hook), so I'd say they are definitely related but not the same.

[2022-04-18 02:53] todd-mystenlabs opened #1427 "[P1] [Umbrella] Node Efficiency Enhancements - Pre-TestNet"
# Details

Improvements for overall node efficiency.

# Dependent Tasks
* #1298
* #1296
* #1266

[2022-04-18 02:55] todd-mystenlabs commented on #1298
Any specifics here, @lxfind ?

[2022-04-18 02:55] lxfind commented on #1323
@tnowacki added explicit entry function declarations.
We should also make module initializers explicitly defined and statically verifiable, which is this issue. So I think it hasn't been done yet.

[2022-04-18 02:57] lxfind commented on #1328
Yes it is part of our test framework.
None of the Move related tasks blocks DevNet I guess. I considered this one high priority among move devex tasks because I have seen our own engineers have bugs in Move example code because of this issue.

[2022-04-18 02:59] todd-mystenlabs commented on #1296
@lxfind - are we still doing the REST API? Or are we just s/REST API/json-rpc API/?

[2022-04-18 03:00] lxfind commented on #1296
Corrected

[2022-04-18 03:00] todd-mystenlabs commented on #1296
(Grouping with some efficiency enhancements for pre-testnet at P1.  Can slide to testnet).  Thanks for the lighting-fast correction, Xun!

[2022-04-18 03:03] todd-mystenlabs commented on #1294
@lxfind - I think this issue is closed by the referenced PR, is that right?

[2022-04-18 03:03] lxfind commented on #1358
Probably DevNet given I already have a PR pending

[2022-04-18 03:04] #1294 closed

[2022-04-18 04:44] Clay-Mysten commented on #1401
Yes, thanks Francois and Todd. Fixed in:
https://github.com/MystenLabs/sui/pull/1428

We may need Sam's guidance to update the Marketplace page.

[2022-04-18 04:56] mystenmark commented on #1351
The only thing I've heard about a devnet faucet is that "it would probably be a good idea to have one". I had no idea there already was one. For that matter, there isn't really even a devnet yet, so why would we expect this to work already?

Adding @oxade

[2022-04-18 05:14] lxfind commented on #1351
Context of the current faucet: https://mysten-labs.slack.com/archives/C02GD7J9HUM/p1647834788607009

[2022-04-18 05:18] oxade commented on #1350
@todd-mystenlabs  this is also a known issue
There is a fix Kyle and I found. Will talk to @patrickkuo about it.

[2022-04-18 05:19] oxade commented on #1351
@todd-mystenlabs
Faucet being down is known issue. It was taken down while we redesign devnet setup
I simply asked Kyle to create this issue for tracking purposes.
Please do not be alarmed.

[2022-04-18 05:20] oxade commented on #1416
@todd-mystenlabs nope. I just began writing a script which can iterate through all pertinent AWS machines and run benches.
Should I create an issue or do you have one for me?

[2022-04-18 11:11] patrickkuo commented on #1313
This endpoint will be port to JSON-RPC, instead of /api/object_info, the same functionality will be accessible via json RPC. We will remove the rest server after JSON-RPC is ready.

[2022-04-18 14:23] todd-mystenlabs commented on #1279
This seems like a pretty important test fix if we're not covering the actual code path.

[2022-04-18 14:27] todd-mystenlabs commented on #1274
@Jibz1 - I think you and @Clay-Mysten may have worked this out already.  Is this Issue covered?

[2022-04-18 14:29] todd-mystenlabs commented on #1270
@tnowacki - what does keep or discard mean in this context?

[2022-04-18 14:31] todd-mystenlabs commented on #1266
@bmwill, @patrickkuo, @lxfind, @oxade, @stella3d  - we discussed this in the last couple weeks.  Did we end up resolving it? (i.e. Do we still have anything to do here?)

[2022-04-18 14:34] todd-mystenlabs commented on #1264
@stella3d, @Jibz1 - is this one covered?

[2022-04-18 14:40] todd-mystenlabs commented on #1261
I think for DevNet, we're just fetching straight from the Gateway Service (@stella3d, @lxfind - this is where we landed, right?)

I think for Pre-DevNet, we want to fetch from a replica node (@bmwill).

I don't think the production way of handling this is with an entirely different server.  I know there are some thoughts that the kind of data a Sui Explorer may want may benefit from being indexed

[2022-04-18 14:42] todd-mystenlabs commented on #1244
(renaming some of these to make it clear from the title without consulting the labels -- API versioning is a loaded term that means a lot of things!)

[2022-04-18 14:44] todd-mystenlabs commented on #1236
Is this done now?

[2022-04-18 14:46] todd-mystenlabs commented on #1233
@sblackshear - seems like something wrap up by Pre-DevNet?

[2022-04-18 14:47] todd-mystenlabs opened #1429 "[P1] [Umbrella] Move DevEx Enhancements - Pre-TestNet"
# Details

# Dependent Tasks
* #1233

[2022-04-18 14:49] todd-mystenlabs commented on #1232
@oxade - did your merge address this issue entirely, or is there an aspect of this issue that is still outstanding?

[2022-04-18 14:51] todd-mystenlabs commented on #1227
@kchalkias - is this one done? Are you still the one doing it?

[2022-04-18 14:55] todd-mystenlabs commented on #1226
@stella3d / @666lcz - where did we land on this? I think it's a dependency for a DevNet P2 task.

[2022-04-18 15:03] Clay-Mysten commented on #1368
This may be a non-issue as the lone image is another PDF in the LaTex/Overleaf repo we should be able to include directly.  Here is a test:
https://github.com/MystenLabs/Prose/blob/main/wp-test.md

All, please let me know if that is translated properly. Adding a bunch of co-owners here to review. Thanks, all.

[2022-04-18 15:13] kchalkias commented on #1227
Yes, re trait will try to push today.

[2022-04-18 15:17] Jibz1 commented on #1236
@todd-mystenlabs methods to deploy to both staging or production are done. Email notification is done through GitHub subscription to the dev portal repo.

[2022-04-18 15:22] todd-mystenlabs commented on #1225
@stella3d / @kchalkias - what's the status on this one? It's a P2 for DevNet currently (i.e. lower priority than P0s/P1s).

[2022-04-18 15:26] todd-mystenlabs commented on #1223
P2 for DevNet.

[2022-04-18 15:31] todd-mystenlabs commented on #1218
@bwann52 - could you spec this out a bit more? What would this look like (not from a UI standpoint, but more about what the data is.) The current description is a bit vague in my mind.

[2022-04-18 15:40] todd-mystenlabs opened #1430 "[P1] [Umbrella] Sui Explorer Enhancements - TestNet"
# Details

# Dependent Tasks
* #1217
* #1215
* #1214
* #1432
* #1213
* #1212
* #1211
* #1210
* #1208
* #1205

[2022-04-18 15:42] todd-mystenlabs commented on #1216
@bwann52 - I have no idea what this means. Can you expand on this?

[2022-04-18 15:42] lxfind commented on #1232
@patrickkuo fixed this by reverting a previous PR: https://github.com/MystenLabs/sui/pull/1250

[2022-04-18 15:44] todd-mystenlabs commented on #1215
Do we also expect the explorer to scan?  (I imagine this is both the generate/display and scan, but maybe the scanning is only for the wallet.)

[2022-04-18 15:51] todd-mystenlabs opened #1432 "Coin metadata storage"
# Details

We need an official process/mechanism for setting any token's website URL, social media URLs, and whatever else is supposed to be "official" content for a token.

[2022-04-18 16:04] patrickkuo commented on #1232
The flakiness was cause by changing serialisation of digest from bytes to base64 to improve readability of the json output; This problem was fixed by keeping non-human-readable serialisation using Bytes and only use base64 for human-readable-serialisation (json)

[2022-04-18 16:21] #1232 closed

[2022-04-18 17:03] tnowacki commented on #1270
Unsure if the terminology is used in Sui, but:
- Kept transactions modify the state/ledger
  - If successful, some objects might be modified
  - If failed, no state changes are made
  - But in either case, the transaction is charged gas and it is recorded in the ledger
- Discarded transactions make no modifications and are not recorded in any form

Based on my discussions with @oxade, I am actuall

[2022-04-18 17:07] lxfind commented on #1270
@tnowacki Could you give an example on what might lead to a Discarded transaction, and if we don't charge gas in that case, how to prevent DDos attack utilizing it?

[2022-04-18 17:12] velvia commented on #1261
Right, I think the intention is for the replica/fullnode to be able to serve queries on past data such as old Tx's, old objects at checkpoints, and events.  As such would expect for example event indexing in the storage layer, although maybe pubsub would be fine for a long time.

[2022-04-18 17:20] todd-mystenlabs commented on #1212
@bwann52 - what does it mean for the source code to be verified? Including @sblackshear, @tnowacki, @awelc  -- sounds like this implies some kind of backend/API that would need to provide said verification status.

(I'm guessing this means something like whatever is the source of real source code -- as opposed to a decompiled version when source is not available or desired -- we've got some signat

[2022-04-18 17:26] tnowacki commented on #1270
cc @sblackshear since he can likely phrase all this better but...

The VM has a bug, hits some UNKNOWN_INVARIANT_VIOLATION_ERROR. You definitely don't want to charge for gas, because who knows what happened in the VM.
Gas is not *really* a DoS prevention mechanism, it is a sort of "pay for compute" mechanism that incentives efficient code, which as an effect might save you from some DoS attacks. B

[2022-04-18 17:28] todd-mystenlabs commented on #1211
If the NFT is getting modified at high frequency by, say, a game, this could be potentially many changes a minute.  There's the potential for this content to be very high density, in which case display affordances would be needed to handle that.  i.e. If there are 18,000 transactions on the NFT over the last week, there's got to be some way to aggregate/group that if you want to be able to drill d

[2022-04-18 17:29] tnowacki commented on #1212
Is this talking about the Move prover? (not the bytecode verifier or anything)

[2022-04-18 17:30] todd-mystenlabs commented on #1210
@bwann52 - how does this differ from #1211?

[2022-04-18 17:37] lxfind commented on #1261
One specific example, something that we want maybe right after devnet
(refer to discussions in https://mysten-labs.slack.com/archives/C03ANU0BSGL/p1649713649021339) is to fetch all transactions that involve a specific account address (i.e. all transactions that touch an object owned by a specific address).
This definitely requires a secondary indexing/processing.

[2022-04-18 17:39] todd-mystenlabs opened #1435 "[P1] [Umbrella] Sui Explorer Enhancements - MainNet"
# Details

# Dependent Tasks
* #1209

[2022-04-18 17:53] todd-mystenlabs commented on #1205
@bwann52, @awelc - we'll need to figure out how we ultimately want to display this. It's potentially wrapped up in how to show Move code in general in the explorer.

[2022-04-18 17:56] todd-mystenlabs commented on #1204
@Andrew47 @stella3d @Jibz1 @bwann52 - we do have a search bar right now. What makes up this task here?

[2022-04-18 18:02] 666lcz commented on #1226
@todd-mystenlabs IIUC this task is about creating a Typescript wrapper for the custodial signing service(which is not in the [DevNet Milestone](https://github.com/orgs/MystenLabs/projects/14/views/1?visibleFields=%5B3081862%2C%22Title%22%2C%22Assignees%22%2C%22Status%22%5D&sortedBy%5Bdirection%5D=asc&sortedBy%5BcolumnId%5D=3081862)). This issue is not part of the general [Typescript SDK](https://g

[2022-04-18 18:39] awelc commented on #1212
I would assume so (@bwann52?)

[2022-04-18 18:41] awelc commented on #1043
This looks much, much better!

[2022-04-18 18:44] sblackshear commented on #20
I think we should consider using [move-model](https://github.com/move-language/move/blob/main/language/move-model/src/lib.rs) for linters. It already exists, has hooks for reporting source diagnostics, and has an IR that has been used to write several linter-like tools (e.g., the escape analysis for the robust safety paper, some lints on prover specs) and is pretty nice to work with. Importantly,

[2022-04-18 18:44] awelc commented on #1205
We already have this. We actually have more than this (potentially too much) - we also display bytecode representing the body of each function (@Andrew47 has been [working](https://github.com/MystenLabs/sui/issues/1043#issuecomment-1099442625) on pretty-printing this but I am not sure if this change has landed).

That being said, I think we only show this for internal modules (framework and std li

[2022-04-18 19:27] bwann52 commented on #1212
Currently Etherscan allows contracts verification 3 ways:
1) Manually via smart contracts page https://medium.com/etherscan-blog/verifying-contracts-on-etherscan-f995ab772327
2) Manually thru submission https://etherscan.io/verifyContract
3) Programmatically https://docs.etherscan.io/tutorials/verifying-contracts-programmatically

[2022-04-18 19:29] bwann52 commented on #1210
Yes, this one is about showing all txs. Whereas #1211 will require some UX/UI design.

[2022-04-18 19:32] bwann52 commented on #1215
For this issue it is enough to just generate/display. Scanning is lower priority, but later on it would be very sweet to have the search bar enable QR code or text scanning.

[2022-04-18 19:37] tnowacki commented on #20
The move model might be okay for some passes but really lacks for anything detailed.

The biggest thing here is it does not have any source level expressions for function definitions, just compiled bytecode.
This is going to lead to less than idea error messages in most places.

Interprocedural analysis something we have actively avoided for the source language. These sorts of passes are slow and

[2022-04-18 19:41] bwann52 commented on #1372
Update: we are seeing "Discovered - currently not indexed" issue across sui.io and docs.sui.io; unclear on if we have this issue for mystenlabs.com @pchrysochoidis can you verify?

[2022-04-18 19:43] tnowacki commented on #20
@awelc, sorry I missed your comments

The current rules in the Sui verifier I believe are control flow sensitive. So you will need to use the `CFGIR` AST, and the abstract interpreter.
Alternatively, we can come up with a rule that is stricter than the verifier and use that.

Now that I think about it, it might not be that bad? We just have the Sui linter have a diagnostic code that implements `Di

[2022-04-18 19:48] tnowacki commented on #1212
I still have no idea what "verification" means in this context, even after clicking on those links lol. It looks like you can show that it was compiled with a given compiler? Or something?

This doesn't really apply I don't think in Move since our bytecode is strongly typed, and the source language provides secure compilation down to the bytecode already (this means that the bytecdoe-level APIs fo

[2022-04-18 19:58] stella3d commented on #1212
@tnowacki does this mean the entire idea of source verification as you would have on Solana or Ethereum is moot, in your view ?

[2022-04-18 20:01] tnowacki commented on #1212
Maybe? But I really don't understand what they are doing on the Solana or Eth side.

More Move related things that could be helpful:
- Link to source code that produced this package
- Compiler version/rev/branch/something that the package was compiled with

[2022-04-18 20:09] Clay-Mysten commented on #1372
Where are you seeing those messages? As for this change not making a
difference, I would differ. We were previously excluding you are previously
excluding sll of our Web pages.

 Do we link to our sites from the various blog posts we sent out?

[2022-04-18 20:10] stella3d commented on #1212
@tnowacki all that happens on solana / eth side is:

There is some way to verify that a given source code folder produces the exact bytecode that is on-chain for a given contract.  This usually includes the exact compiler version used, everything needed for a deterministic build.

This allows mapping from on-chain bytecode to real source code no matter who uploads the source

[2022-04-18 20:11] bwann52 commented on #1212
@tnowacki fyi main reasons why eth/sol does verification:
1. It lets you (and others) interact with the contract directly in the blockchain explorer.
2. Anyone is able to view the code of the contract.
3. Transparency
4. More trust

Here's an example from solana where the [contract](https://explorer.solana.com/address/9xQeWvG816bUx9EPjHmaT23yvVM2ZWbrrpZb9PusVFin) is [Anchor: Verified](https://anch

[2022-04-18 20:21] awelc commented on #1212
OK, now I have a better idea of what this is about. We have discussed it in the past and it's captured as one of Move devex tasks (https://github.com/MystenLabs/sui/issues/1109).

The idea is to reliably connect source code (off chain) with the bytecode corresponding to this source code (on chain). One possible solution to this is to store source code hash in the on-chain package object.

This way

[2022-04-18 21:02] sblackshear commented on #20
This is going to lead to less than idea error messages in most places.

I believe Move models produced from source have very detailed [source context](https://github.com/move-language/move/blob/main/language/move-model/src/model.rs#L97) information. I have used this feature in diagnostics, anyway. I'm sure there are cases where it falls short of what you can do in the compiler, but my expectation

[2022-04-18 21:05] sblackshear commented on #20
Definitely agree with avoiding this in the core analyses performed by the compiler. But for linters (as we're discussing in this task), I think we want to give the linter writer as much power/flexibility as we can. As you say, linters can be ignored, so there's no problem if someone writes a slow or flaky one.

[2022-04-18 21:17] tnowacki commented on #20
This isn't for "general" linters though. This is things like "do my `key` structs have ID fields?" and "Do my entry points have the correct signature?" These can't be ignored because the Sui bytecode verifier will yell at you.

I would consider them more "Move type system extensions" rather than the sort of checks you would find in a tool like clippy

[2022-04-18 21:18] tnowacki commented on #20
And I would hope so as they are strictly a subset of the information in the AST ;)

[2022-04-18 21:21] sblackshear commented on #20
I guess my question is: what would go wrong if we implemented our Sui linters as `move-model`-powered linters? I ask this because I would rather have one mechanism for extending the Move type system/analyzing Move code that we put a lot of work into instead of spreading our effort across two ways of doing this (at least at this point).

[2022-04-18 21:23] awelc commented on #20
I think we need both. The idea was to have a separate linting tool that could have different "severity" levels.

The "Move type system extensions" linting should probably be directly integrated with the system so that these checks cannot be bypassed.

[2022-04-18 21:23] sblackshear commented on #1409
I think follower API + full node support are a P1. We can launch devnet without them, but would like to have them up ASAP afterward.

[2022-04-18 21:24] sblackshear commented on #20
I am certainly not opposed to having both. I think this is just a sequencing/prioritization question.

[2022-04-18 21:27] awelc commented on #20
Agreed. They could also reuse at least part of the common infrastructure, so it would be nice (though not strictly necessary) to agree on the infrastructure that could work for both linter types.

[2022-04-18 21:28] tnowacki commented on #20
I would rather never extend the move-model unless you want to work over the bytecode or want to do an inter-procedural analysis, so if you want one mechanism, use the ASTs.
(I hope this will also be easier for @awelc, as he will need the ASTs for any vs code work)

Already doable in the source languages diagnostics, you can even have non-skippable errors that don't stop compilation

[2022-04-18 21:34] sblackshear commented on #20
This does not answer my question of what would go wrong--I would like to understand why you are so opposed to extending it :).

[2022-04-18 21:43] Clay-Mysten commented on #1372
Hmm, I'm now wondering if our use of the .io top-level domain (or domain extension) on docs.sui.io and sui.io, rather than .com, is affecting our search engine optimization. My digging is inconclusive. But I will note these findings:

Google claims to handle all top-level domains the same:
https://developers.google.com/search/blog/2015/07/googles-handling-of-new-top-level

But then links from ther

[2022-04-18 21:48] Clay-Mysten commented on #1274
Godwin is definitely catching broken links. I still need to be notified.

[2022-04-18 21:49] Clay-Mysten commented on #1236
And these methods are documented here in the Stage to production section:
https://www.notion.so/mystenlabs/e19c1300e086416796ace4d70e207def?v=9de1a71769554d4aa48e0530c63fa157

[2022-04-18 22:14] tnowacki commented on #20
(to be clear by extending I mean building a thing on top of it)

I oppose it because I just could not imagine a linter framework that does not want the source expressions. Thats almost literally all of the linter cases (at least for clippy), "You had XYZ expression. ABC expression is cleaner". The move-model does not contain information about source language expressions outside of whats in the sou

[2022-04-18 22:21] sblackshear commented on #20
Got it + makes sense. The goal of this task is to do better than raising an opaque verifier error for the Sui-specific passes, and it sounds like we won't be able to do much better unless we work inside the compiler.

I would still be hesitant to go too far down the path of providing a generic linter framework inside the compiler when it will be limited w.r.t the kinds of analyses it can do compar

[2022-04-18 23:11] oxade commented on #1387
Relates to https://github.com/MystenLabs/sui/issues/1351#issuecomment-1101102545

[2022-04-18 23:36] Clay-Mysten commented on #1372
Alright, I did a quick audit and see links to our sites from these blog posts, at the very bottom:
https://medium.com/mysten-labs/sui-developer-kit-building-optimized-ux-488ec3f3f1d2
https://medium.com/mysten-labs/announcing-sui-1f339fa0af08

But not:
https://medium.com/mysten-labs/sui-dynamic-nfts-to-enhance-gameplay-47ee79bbb89c (sui.io and GitHub but not docs.sui.io)
https://medium.com/mysten-l

[2022-04-19 04:46] todd-mystenlabs commented on #729
I think this is part of the follower task @sblackshear was referencing in a comment in #1409. If I got that wrong, let me know.  @laura-makdah - this is a P1 for DevNet, not a P0.  (I bumped it up from Pre-TestNet.)

[2022-04-19 08:48] gdanezis commented on #1313
Ok, so we will never do this? Should we close the issue?

[2022-04-19 08:51] gdanezis commented on #1298
This is an optimisation, that is not blocking -- but should happen when we have a full node / gateway client architecture.

[2022-04-19 09:11] gdanezis commented on #891
On the basis this is not blocking / breaking other things I put that as pre-mainet

[2022-04-19 09:53] gdanezis opened #1441 "[Umbrella] Audit of cryptographic operations"
* MystenLabs/sui#58
* MystenLabs/sui#653 - key management on wallet
* MystenLabs/fastcrypto#21
* MystenLabs/sui#530
* MystenLabs/sui#481
* MystenLabs/sui#301
* MystenLabs/sui#266

[2022-04-19 10:05] gdanezis opened #1442 "[Umbrella] Benchmarking"
* #40
* #239
* #1156
* #827

[2022-04-19 10:07] gdanezis opened #1443 "[Umbrella] Scaling Nodes"
* #227

[2022-04-19 10:22] gdanezis opened #1444 "[Umbrella] Authority Client / Aggregator"
This issue groups a number of issues that relate to the authority client / safe authority client / and authority aggregator abstractions:

* #373 - done?
* #275 - done?
* #520
* #559
* #1045
* #1330 - BUG!

P2:
* #407

[2022-04-19 10:39] gdanezis commented on #407
Not a huge priority, optimisation on the client side.

[2022-04-19 10:39] gdanezis commented on #460
Resolved?

[2022-04-19 10:55] gdanezis commented on #63
Is this now all done?

[2022-04-19 10:56] gdanezis commented on #254
We are now going with checking all things in both phases, and the reconfig logic forces us to do this.

[2022-04-19 10:56] #254 closed

[2022-04-19 11:13] gdanezis commented on #14
i think this is now done?

[2022-04-19 11:30] gdanezis opened #1445 "[Umbrella] Networking"
This umbrella issue gather all issues that need to close to make it to testnet relating to networking:
* #1127

[2022-04-19 11:37] #843 closed

[2022-04-19 11:58] akichidis opened #5211 "Track the block_synchronizer length of requested blocks"
### Description

We would like to track the length of the list of requested block for the block_synchronizer. If that size gets too bing then it could cause issues to the downstream process when fetching the certificates from other primaries (too much load to fetch at once). In this case we could either put a limit on the number of requested blocks, or chunk them up before we perform the processin

[2022-04-19 14:38] todd-mystenlabs commented on #237
@stella3d , @patrickkuo, @lxfind  - what state is this in?

[2022-04-19 14:38] todd-mystenlabs commented on #237
(Also, I'm taking a guess on the priority)

[2022-04-19 14:40] todd-mystenlabs commented on #235
@patrickkuo / @lxfind - this seems to be resolved. Can we close it out?

[2022-04-19 14:44] patrickkuo commented on #237
Once JSON-RPC server PR is merged, we will need to work on OpenRPC documentation -- to replace Postman Documentation. Also we will need to refactor/simplify GatewayAPI's response objects to make it easier to be consumed by downstream, current model contains move object bytes and move objects layout etc, which might not be very useful to downstream systems.

[2022-04-19 16:03] #460 closed

[2022-04-19 16:27] oxade commented on #1350
PR fix here https://github.com/MystenLabs/sui/pull/1448

[2022-04-19 16:38] #1350 closed

[2022-04-19 16:39] patrickkuo commented on #63
most of these are done, I think we can close this, will work with @stella3d and create new issues if new api methods are needed

[2022-04-19 16:39] #63 closed

[2022-04-19 16:40] arun-koshy commented on #552
No longer relevant after PR#1123 removed start/stop/genesis from Rest Server

[2022-04-19 16:40] #552 closed

[2022-04-19 16:41] arun-koshy commented on #553
Completed in PR#1123 which removed start/stop/genesis from Rest Server

[2022-04-19 16:41] #553 closed

[2022-04-19 16:55] #1238 closed

[2022-04-19 17:00] Jibz1 commented on #1274
@Clay-Mysten you can subscribe to the https://github.com/MystenLabs/sui_dev_portal

[2022-04-19 17:01] kyleqian commented on #1313
This isn't specific to REST api - it's about returning object contents in a readable format to clients.

[2022-04-19 17:03] patrickkuo commented on #1313
Lets keep this open to make sure we fix this in RPC

[2022-04-19 17:09] Clay-Mysten commented on #1274
And what does that do? Can we start to write this stuff down somewhere?

[2022-04-19 17:15] Clay-Mysten commented on #1236
Hmm,

I am detecting huge lags between GitHub and docs.sui.io, four days and counting. See:
https://docs.sui.io/build/install
https://github.com/MystenLabs/sui/blob/main/doc/src//build/install.md
https://github.com/MystenLabs/sui/commit/63d2f740e44c6412a3e6aab603aff3eb14d044c9
<img width="1532" alt="Screen Shot 2022-04-19 at 10 13 29 AM" src="https://user-images.githubusercontent.com/100217682/164

[2022-04-19 17:20] Jibz1 commented on #1236
@Clay-Mysten this seems correct, See the screenshot of the update
<img width="1257" alt="Screen Shot 2022-04-19 at 1 18 15 PM" src="https://user-images.githubusercontent.com/8676844/164059913-04c6f8cf-20da-4022-bb2a-ff903ce5c275.png">
<img width="852" alt="Screen Shot 2022-04-19 at 1 17 39 PM" src="https://user-images.githubusercontent.com/8676844/164059924-91249060-32f5-433d-9009-0c12b6a7a3d7.png

[2022-04-19 17:24] patrickkuo commented on #1313
Related to this https://github.com/MystenLabs/sui/issues/237

[2022-04-19 17:26] asonnino opened #1450 "Spawn consensus adapter"

[2022-04-19 17:33] asonnino opened #1452 "Keep alive TCP connection with consensus"
The current `ConsensusSubmitter` module re-creates a new connection every time a user needs to submit a transaction containing shared objects. The reason why it is implemented that way is because it is the simplest way to avoid taking `self` as a mutable reference (which is forbidden by the `AuthorityServer`).

[2022-04-19 17:35] gdanezis commented on #1045
I have a feeling this is related to #297 and #1136 -- ie related to events.

[2022-04-19 17:41] gdanezis commented on #238
Done!

[2022-04-19 17:41] #238 closed

[2022-04-19 17:43] gdanezis commented on #705
Done!

[2022-04-19 17:43] #705 closed

[2022-04-19 17:45] Clay-Mysten commented on #1236
Look at the screenshots. I moved the git clone instructions and directory summaries from Contribute to Install.

[2022-04-19 17:45] Clay-Mysten commented on #1236
Right now, Install Sui merely says:

Contribute[#](https://docs.sui.io/build/install#contribute)
If you need to download and understand the Sui source code, follow [contributing to Sui](https://docs.sui.io/contribute).

[2022-04-19 17:46] gdanezis commented on #1190
Done!

[2022-04-19 17:46] #1190 closed

[2022-04-19 17:49] gdanezis commented on #1198
Done!

[2022-04-19 17:49] #1198 closed

[2022-04-19 17:49] gdanezis commented on #1199
For example display the module name

[2022-04-19 17:50] gdanezis commented on #1200
This has a preresquisite to actually have collections.

[2022-04-19 17:59] gdanezis commented on #1005
Done!

[2022-04-19 17:59] #1005 closed

[2022-04-19 18:16] velvia commented on #1409
Hey everyone, there are tons of items under "Protocol Stabilization" wiki:
https://www.notion.so/mystenlabs/Protocol-Stabilization-3df9c5c1e2d14961a169dba7d6c75d74

I guess most of these items are not for dev-net?

In particular, stabilization of core types issues like this; #218

[2022-04-19 18:25] lxfind commented on #520
Discussed with @patrickkuo offline, we don't need this one now. Will create a few separate issues (not for devnet) to clean this up

[2022-04-19 18:29] #1358 closed

[2022-04-19 18:30] velvia opened #1455 "Add metrics to Sui"
The goal of this task is to add initial metrics to Sui for dev.net alerting and dashboarding.   The metrics should go to Prometheus and either be exposed via a REST endpoint or be pushed into a Prometheus push-gateway.

Some initial metrics that would be great to get:
- Metrics for API calls (maybe with the specific command or route instrumented as a tag) into:
    - authority/validator
    - gate

[2022-04-19 18:32] lxfind opened #1456 "[Gateway] Gateway should return object summary"
Right now Gateway API returns either the Object content, or Object Refs.
For very large objects, returning Object content doesn't make sense over the wire; we also want to return more than just object ref because often we want to know what type of object it is for examle.
So here is what we should return:
1. For gas and coin objects, we return object content because it's very small anyway
2. For a

[2022-04-19 18:32] #520 closed

[2022-04-19 18:35] lxfind opened #1457 "[Gateway] Allow passing in either Object ID or ObjectRef for objects in transactions"
Some Gateway APIs today pass object IDs as arguments, while some pass object refs. They are not consistent.
We want to always provide an option to pass object refs in case a user wants to specify exactly which version of object they want to operate on to prevent errors or accidentally using the wrong object version. It may also be a common need for users to not want to worry about version control

[2022-04-19 18:35] velvia opened #1458 "[dev.net] Set up dashboards for Sui nodes"
This is critical for troubleshooting.  We should have dashboards for validators, gateway, rest-server, and any other service we set up for dev.net

- Prometheus
- Grafana setup
- Grafana dashboards based on metrics from https://github.com/MystenLabs/sui/issues/1455
- Possibly: Prometheus push-gateway

/cc @mystenmark and @oxade who are setting up infra

[2022-04-19 18:36] velvia opened #1459 "[dev.net] Set up monitoring/alerting"
Set up alerts based on metrics (the most efficient way to get numbers for every single API call in production).
Specifically:
- Grafana OR Prometheus alert rules.  Probably Prometheus
- Integration with Slack
- For every major service in dev.net - especially rest service, authority/validators

[2022-04-19 18:44] velvia opened #1461 "[dev.net] Set up logging aggregator"
This is probably ElasticSearch.

Question: should we parse pretty logs or output logs in JSON and have ES parse them?

Also would involve a log forwarder from each pod, probably something like vector.dev

Goal would be a UI that developers can go to to see logs

[2022-04-19 18:44] velvia commented on #1383
Adding some issues for dev.net observability:

- https://github.com/MystenLabs/sui/issues/1455
- https://github.com/MystenLabs/sui/issues/1458 (Dashboards)
- https://github.com/MystenLabs/sui/issues/1459 (Monitoring)
- https://github.com/MystenLabs/sui/issues/1461 (Logging aggregation/UI)

[2022-04-19 19:05] lxfind opened #1463 "[Store] Remove signed transactions from authority store after cert commit?"
Right now we keep signed transactions even after we commit the cert.
But I don't see us ever need the signed transaction again? Especially given that we already have a cert.
Should we delete the signed transaction after we commit the cert?
@gdanezis

[2022-04-19 20:00] 666lcz commented on #1137
Duplicates https://github.com/MystenLabs/sui/issues/1223

[2022-04-19 20:01] 666lcz commented on #1142
done by https://github.com/MystenLabs/sui/pull/1308

[2022-04-19 20:01] #1142 closed

[2022-04-19 20:05] 666lcz commented on #1162
duplicate https://github.com/MystenLabs/sui/issues/1459

[2022-04-19 20:05] #1162 closed

[2022-04-19 20:10] #721 closed

[2022-04-19 21:36] Clay-Mysten commented on #1274
Let's also reconsider breaking site updates because of broken links. Makes this whole system fragile and impossible to stage forthcoming updates.

[2022-04-19 21:52] Clay-Mysten commented on #1236
Did we determine the cause? How can we catch these delays automatically?

[2022-04-19 22:41] huitseeker opened #1471 "[ci] make cargo-udeps follow the rust filter rules"
Our CI should not run cargo-udeps on a PR that does not change anything to the Rust source. Here's such a PR:
https://github.com/MystenLabs/sui/pull/1468

here are the tests running cargo-udeps:
https://github.com/MystenLabs/sui/runs/6086232886?check_suite_focus=true

/cc @bmwill

[2022-04-19 22:55] huitseeker opened #6016 "[rocksdb] Investigate setting up Ribbon filters for perf"
See https://github.com/rust-rocksdb/rust-rocksdb/pull/595/files

[2022-04-19 23:07] #1471 closed

[2022-04-19 23:13] tnowacki commented on #345
Assigning to @lxfind just to triage

[2022-04-19 23:13] tnowacki commented on #1352
Assigning to @lxfind just to triage

[2022-04-19 23:16] tnowacki commented on #1329
@lxfind, not sure what you want to do about this.

We can do this, but it will be tricky for starcoin, depending if/when they want to update their stdlib

[2022-04-19 23:17] tnowacki commented on #1329
@awelc and @sblackshear, not sure if either of you have anything to add from this discussion from last external Move sync

[2022-04-19 23:17] lxfind commented on #1329
Yeah at this point, I don't know if the value would be worth the churn, given there is already production Move code.

[2022-04-19 23:32] lxfind commented on #345
We don't really have a need for this. Closing.

[2022-04-19 23:32] #345 closed

[2022-04-19 23:33] lxfind commented on #965
#1297 will solve this issue. Closing this one.

[2022-04-19 23:33] #965 closed

[2022-04-19 23:40] #1401 closed

[2022-04-19 23:41] Clay-Mysten commented on #1401
Sam, if I can help with that Marketplace page command fix, let me know.

[2022-04-19 23:43] Clay-Mysten commented on #1401
I added a comment to help users there:
https://marketplace.visualstudio.com/items?itemName=move.move-analyzer&ssr=false#review-details

[2022-04-19 23:51] lxfind commented on #248
This is already added. The part that we haven't figured out, is how to adjust/set gas prices, but that's a different topic

[2022-04-19 23:54] lxfind opened #1476 "[Gas Mechanism] Gas metering for module verification during publish"
Some module verification passes can take non-linear time to finish. We currently charge publish based on the number of bytes. But for those non-linear passes (e.g. anything that uses abstract interpretation), we should do some kind of metering (doesn't need to accurate, just need to be deterministic across validators) for this.

[2022-04-20 00:02] tnowacki commented on #1329
I think we should still try to push for it if we can. Maybe worth pinging star coin folks about about it. Because it affects the only if they are updating modules on chain

[2022-04-20 00:02] tnowacki commented on #1329
(and theoretically they could just publish both versions...)

[2022-04-20 00:03] 666lcz opened #1477 "[Wallet CLI] `wallet gas` stops working with the new RPC endpoint"
[code]

As shown above, the `wallet gas` stops working after changing wallet_config to

[code]

[2022-04-20 00:19] #248 closed

[2022-04-20 00:22] lxfind commented on #373
This is done. The only thing left is the sync API, which we covered in a separate issue.

[2022-04-20 00:22] #373 closed

[2022-04-20 00:24] lxfind commented on #275
This is all done.

[2022-04-20 00:24] #275 closed

[2022-04-20 00:27] patrickkuo commented on #1477
hmm that's weird, I have just tried it on main and it works fine 🫤

I have changed rpc server bin name from `rpc_server` to `rpc-server` when addressing PR comments, maybe you are still using the old binary?

[2022-04-20 00:57] huitseeker opened #1478 "[config] Split `GenesisConfiguration` and `NetworkConfig` to contain public info only"
I'm noticing we still have authority key **pairs** in `GenesisConfig` and `NetworkConfig`:
https://github.com/MystenLabs/sui/blob/1fe5b58b848b3ad3204e76ba3733c843b6f1af12/sui/src/config.rs

Note : key **pairs**, that is, `AuthorityPrivateInfo`:
https://github.com/MystenLabs/sui/blob/1fe5b58b848b3ad3204e76ba3733c843b6f1af12/sui/src/config.rs#L47-L53
This includes a private key.

i.e. genesis config

[2022-04-20 01:37] huitseeker commented on #1441
Adding https://github.com/MystenLabs/sui/issues/1478

[2022-04-20 02:12] huitseeker commented on #370
@Clay-Mysten
1. Those docs have been written with a user in mind that's the user of a blockchain that wants to transact with it. That's all well and good, but we are going to need a different set of docs for a node runner (i.e. somebody running a sui authority + a narwhal authority) That's an entirely new section of the website!
2. We'll need documentation that's closer to the code too, e.g. rustd

[2022-04-20 06:00] lxfind commented on #1228
The solution in the description doesn't solve the problem, as discussed in https://mysten-labs.slack.com/archives/C02DRAL32GN/p1649565451110239.
We need a different solution.

[2022-04-20 07:28] pchrysochoidis commented on #821
Closing PR #619 and this because work will be done again for #423

[2022-04-20 07:28] #821 closed

[2022-04-20 07:30] #702 closed, assigned to nobody

[2022-04-20 07:30] #703 closed

[2022-04-20 07:30] #717 closed

[2022-04-20 07:30] #656 closed

[2022-04-20 07:31] #458 closed

[2022-04-20 07:31] #606 closed

[2022-04-20 07:32] #455 closed, assigned to pchrysochoidis

[2022-04-20 08:24] 666lcz commented on #1477
Yes, that must be the case. I just tried rebuilding and it works now

[2022-04-20 08:24] #1477 closed

[2022-04-20 14:17] asonnino opened #1486 "Uniform cryptography for Narwhal and Sui"
The Narwhal and Sui codebase can both use dalek-ed25519 cryptography but they each burry it under different layers of abstractions. It would be nice to have a single crypto crate in Mysten-Infra (or something like that) to avoid tacky conversions in the codebases.

[2022-04-20 15:20] lxfind opened #1488 "Setup all tests in a way to avoid ulimit constraint"
All of our tests should be setup this way:
https://github.com/MystenLabs/sui/pull/112/commits/43e91906ade07a8a2f74955e45479d14af530171

[2022-04-20 15:49] gdanezis commented on #1463
I think that for any transaction we have received we either need to signed transaction or the certified transaction or the effects certificate (if we get one of these). We can indeed delete / substitute the previous form with a newer form indeed.

[2022-04-20 15:56] gdanezis commented on #1478
Nice one this is a P0 security issue

[2022-04-20 16:23] bmwill opened #6015 "[network] Provide an initial implementation of a reusable p2p network"
In order to be prepared to deploy in a production environment (read adversarial) we need to satisfy a number of network hygiene requirements, that are not currently met with our existing network infrastructure (raw, unauthenticated TCP links). In particular these are the requirements we will address with an upcoming networking stack:
- Authentication
    - later, Advanced Identity (e.g. finer-grai

[2022-04-20 17:01] lavindir opened #5216 "Create an accounting layer between the network and component layer"
### Description
We want to have a centralized layer that all external requests to Narwhal Primaries & Workers need to flow through before reaching a component. This layer will be the centralized place where we count in-flight messages/requests, and possibly prioritize them, giving us DDoS protection.

[2022-04-20 17:26] todd-mystenlabs commented on #729
Hey @gdanezis @laura-makdah - I think I may have ended up triggering a change to open this issue back up when I linked it into another umbrella issue.  If this is closed, please close it again.  (It's listed as Done" but not closed, which is an oddball state.)

[2022-04-20 18:02] Clay-Mysten commented on #1372
Well, I think we nailed down the issue, namely that we haven't been linking prominently to our sites from our blog posts. Thankfully, Jennifer did so yesterday in the Narwhal and Tusk.

[2022-04-20 18:25] Clay-Mysten commented on #1248
Let's rename move.md to Smart Contracts with Move Quick start:
https://docs.sui.io/build/move

This will be our codelab.

[2022-04-20 18:30] asonnino opened #1489 "Nicer Narwhal-Sui error propagation"
The error propagation between Narwhal and Sui is not very nice and probably takes more LOC than required. This is an issue that needs to be solved in parallel on the Narwhal and Sui codebase though.

[2022-04-20 18:46] kchalkias opened #1490 "[crypto] Default common interface for hashing"
Atm Sui is using Sha3_256 for all of the address, objectID, transaction, transaction effects and batch (block+transaction) hash derivation. However the sha3 hasher is implemented independently per function. Even more

Ideally, we should have the same reference re hash invocation, so if we ever need to update the hash function we do in a single place.
See:
**SuiAddress derivation**
https://github.c

[2022-04-20 18:49] Clay-Mysten commented on #1372
https://medium.com/mysten-labs/announcing-narwhal-tusk-open-source-3721135abfc3

And sure enough, we hit more than 200 users or more in a day on docs. sui.io for the first time since our announcement week:
<img width="1532" alt="Screen Shot 2022-04-20 at 10 53 11 AM" src="https://user-images.githubusercontent.com/100217682/164301144-6f1f06aa-ac87-4e1f-bb4a-0a338c464fd9.png">

Meanwhile, Godwin poi

[2022-04-20 18:52] Clay-Mysten commented on #1372
Let's pick this up in:
Creating Announcing Features process #16
https://github.com/MystenLabs/Prose/issues/16

[2022-04-20 18:52] #1372 closed

[2022-04-20 18:52] kchalkias commented on #58
The `Signable` interface might be deprecated after introducing IntentSigning, which is a unified (lang-agnostic) way to offer domain separation re what we're signing.

[2022-04-20 19:24] Clay-Mysten opened #1493 "Create a Validator Guide for Wave 1 Testnet"
Related Issues:
sui #1367

This issue builds upon work accomplished in:
Document our binaries in a README:
https://github.com/MystenLabs/sui/issues/370

Review and edit Narwhal docs, help generate blog post:
https://github.com/MystenLabs/Prose/issues/12

Francois has supplied excellent input in issue #370 we should act upon. From him:

---

Those docs have been written with a user in mind that's t

[2022-04-20 19:25] Clay-Mysten commented on #370
Great input. Let's track that in an entirely new issue and close this out:
https://github.com/MystenLabs/sui/issues/1493

[2022-04-20 19:25] #370 closed

[2022-04-20 19:57] todd-mystenlabs commented on #1493
For minimum specs: @oxade has been collecting data there.  An AWS t2.micro was surprisingly performant on single-validator benchmarks IIRC.

For running the Sui side of things: @mystenmark has been looking at it from a GCP side and maybe from an AWS side (depends on timing). If AWS does not get covered by Mark (quite likely), then it may be @velvia, @longbowlu or possibly @bmwill.

[2022-04-20 20:02] oxade commented on #1493
@todd-mystenlabs
I'm updating the minimum required machine to t2.large (8GB RAM and 2CPUs) if we want to use containers just because of the docker overhead.
The t2.micro (1GB RAM) only worked well with validator running as a process

[2022-04-20 20:15] 666lcz commented on #1351
Duplicate with https://github.com/MystenLabs/sui/issues/1387

[2022-04-20 20:15] #1351 closed

[2022-04-20 20:20] 666lcz commented on #1357
@stella3d assigning this to you per [Andrew's comment](https://github.com/MystenLabs/sui/issues/1357#issuecomment-1099337857) above. Let me know if you are not the right owner

[2022-04-20 20:21] 666lcz commented on #1418
@stella3d , I believe this will be fixed after we switch to using the Typescript SDK. Let me know if you are not the right owner.

[2022-04-20 20:24] 666lcz commented on #1161
@patrickkuo , assigning this to you for now since you implement the RPC endpoint. We should implement the rate limiting as a middleware. Let me know if you are not the right owner

[2022-04-20 20:25] 666lcz commented on #1386
https://github.com/MystenLabs/sui/pull/1411/files is an example Move module that defines these standard metadata fields

[2022-04-20 20:31] asonnino commented on #1452
From @huitseeker

The problem with this (https://github.com/MystenLabs/sui/issues/1452) is not so much that you're wasteful, it's that you're going to run against an fd limit pretty fast.
An immediate workaround is the tricks akin to https://github.com/MystenLabs/sui/commit/43e91906ade07a8a2f74955e45479d14af530171 but a better fix is just to have an ad-hoc connection pool using a library like [bb8

[2022-04-20 20:34] #729 closed

[2022-04-20 21:24] patrickkuo commented on #1161
What's the priority of this issue? I can work on this after the OpenRPC doc and schema works.

[2022-04-20 21:52] asonnino opened #1496 "Do we need all those Arcs?"
AuthorityServer is used as an Arc, but it contains itself a number of Arcs (eg. for AuthorityState and AuthorityStore). Do we need them all?

[2022-04-20 21:55] asonnino opened #1497 "Rename _database to database"
We now extensively used the field `_database` of AuthorityState, should we rename it to `database`?

[2022-04-20 22:07] huitseeker commented on #1493
If this is for devnet, then narwhal is out of the picture (given how we run narwhal in-process), but we still very much need to document how to run a Sui validator (on Sui terms).

[2022-04-20 22:42] Clay-Mysten commented on #1372
Finally, I am noting GitHub traffic also spiked seemingly as a result of the N/T announcement:
<img width="1444" alt="Screen Shot 2022-04-20 at 3 40 07 PM" src="https://user-images.githubusercontent.com/100217682/164336743-3fa6f906-17b8-402c-ba85-9b30fcad79ea.png">

[2022-04-20 22:48] #195 closed

[2022-04-20 22:48] #633 closed

[2022-04-20 22:48] #976 closed

[2022-04-20 22:48] #1388 closed

[2022-04-20 23:22] 666lcz commented on #1161
I believe this one has a higher priority than the doc and schema, because we don't want the server to be congested by malicious attackers or a heavy application cc @todd-mystenlabs

[2022-04-20 23:47] lxfind opened #1502 "SuiDataStore debug tool"
A tool that is able to dump human-readable data from `SuiDataStore`. This tool can then be used to debug validator, gateway, fullnode because they all share the same db implementation.

[2022-04-20 23:47] lxfind commented on #1383
Debuggability:
- [ ] https://github.com/MystenLabs/sui/issues/1502
- [ ] Improve error message

[2022-04-21 00:43] patrickkuo commented on #1161
jsonrpsee have build in resource limiting capability, can use this to enforce rate limiting very easily
https://github.com/paritytech/jsonrpsee/blob/20e6e5de40214e0b88e475d87bf14e465123eaba/core/src/server/resource_limiting.rs#L54-L86

[2022-04-21 01:54] lxfind opened #1503 "Remove unnecessary sync in wallet"
With the current implementation of gateway, we should not need to sync after each transaction.
Sync is only needed during genesis. Should clean this up before devnet.
@patrickkuo @oxade

[2022-04-21 02:27] kchalkias opened #1504 "[crypto] Unify crypto traits between Sui and Narwhal repos"
Narwhal's repo crypto structure and design is modular allowing for multiple signature schemes, on the other hand Sui's `crypto.rs` is ed25519 specific. Sui's cryptographic agility (i.e., validator BLS, user multi-sig and ECDSA) plan requires the use of various signature schemes, and thus Narwhal's crypto crate should be reused in both projects (with any modifications/refactoring required).

This w

[2022-04-21 06:30] gdanezis commented on #1502
Idea: should we implement a 'raw read' API: where we get a key in bytes and return the value in bytes from all our tables? Then we can build a utility to display and query?

[2022-04-21 06:51] pchrysochoidis opened #1507 "Consider moving rust code under `/crates` directory"
Moving rust code under `/crates` dir will help with CI to detect changes that happened to rust code and run the relevant checks.

See https://github.com/MystenLabs/sui/pull/1485#discussion_r854325619

[2022-04-21 07:15] gdanezis commented on #1496
Yes we do, because the components are shared with other tasks, for example, that implement follower, checkpoint etc. There is no real overhead to these, since the overhead of ARC is in cloning and dropping.

[2022-04-21 07:15] #1496 closed

[2022-04-21 09:51] Andrew47 commented on #1204
@todd-mystenlabs --> the search bar enables the user to search for:

- [x] Accounts: https://explorer-demo.sui.io/addresses/09818aac3edf9cf9b006b70c36e7241768b26386
- [x] NFTs and tokens by address: https://explorer-demo.sui.io/objects/363124FB1BE19377C39C4356865A8C8430C6AE85

But not:
- [ ] Transactions
- [ ] Smart Contracts

Regarding transactions, @stella3d will need to approve the Preview Card

[2022-04-21 13:37] #14 closed

[2022-04-21 13:41] #19 closed

[2022-04-21 13:42] sblackshear commented on #1228
I closed https://github.com/MystenLabs/sui/issues/19. Let's use this issue to discuss the (related) topics of how to authenticate child objects and if/how to support restricted transfers.

[2022-04-21 13:44] sblackshear commented on #58
Great news! I will close this, in that case.

[2022-04-21 13:44] #58 closed

[2022-04-21 14:12] #527 closed, assigned to awelc

[2022-04-21 14:13] sblackshear commented on #530
Upon discussion in https://github.com/MystenLabs/sui/pull/1058, we decided that this is not needed.

[2022-04-21 14:13] #530 closed

[2022-04-21 15:29] lxfind opened #1512 "[Move] Write prover code for Sui framework"
Once our framework stabilizes, we should start writing prover spec for them.

[2022-04-21 15:30] lxfind opened #1513 "[Move] Split Sui framework to multiple packages"
Our framework is growing and getting large. Eventually we want to organize them and split them into multiple packages. This is useful both for reading speed and to satisfy object size limit (although we could always give framework an exception on object size limit)

[2022-04-21 15:31] lxfind opened #1514 "Add size limit to Move objects"
We should come up with a reasonable limit for Move objects. We can also consider having different limits for objects and packages.
note: we may want to special handle the object 0x5 as it's the system object

[2022-04-21 15:32] lxfind opened #1515 "[Move] Add comprehensive tests to Sui framework"
The current framework is not well tested. We should add comprehensive tests for them.

[2022-04-21 15:33] lxfind opened #1516 "[Move] Generate framework document automatically"
We should automatically generate framework document and publish them as a library reference. This also requires us to write good doc comments.

[2022-04-21 15:55] lxfind opened #1517 "Add tracing to cover all major paths in Gateway and Authority"
We should be able to get a good view on what's happening when looking at the logs.

[2022-04-21 17:05] #389 closed

[2022-04-21 17:05] #629 closed

[2022-04-21 17:06] #382 closed

[2022-04-21 17:06] #199 closed

[2022-04-21 17:06] #207 closed

[2022-04-21 17:06] #255 closed

[2022-04-21 17:06] #325 closed

[2022-04-21 17:06] #330 closed

[2022-04-21 17:07] #180 closed

[2022-04-21 17:07] #183 closed

[2022-04-21 17:07] #611 closed

[2022-04-21 17:10] stella3d commented on #1264
we have real data now, so the existing mock data needs to be updated

[2022-04-21 17:16] todd-mystenlabs commented on #1161
Talk to @bmwill / @mystenmark re: HAproxy.

Talk to @huitseeker re: application-layer rate limiting.

[2022-04-21 17:18] awelc commented on #394
This has been addressed in https://github.com/MystenLabs/sui/pull/337 and https://github.com/MystenLabs/sui/pull/436.

[2022-04-21 17:18] #394 closed

[2022-04-21 17:24] Clay-Mysten commented on #1372
More evidence we need generate more external (Medium, etc.) blog posts that link to our sites prominently:
https://www.google.com/search?q=%22docs.sui.io%22

Narwhal was our most popular page yesterday:
<img width="1444" alt="Screen Shot 2022-04-21 at 10 20 59 AM" src="https://user-images.githubusercontent.com/100217682/164516471-8e86cf4e-99a6-473f-b351-fe4e182793c4.png">

[2022-04-21 17:25] stella3d commented on #1226
yeah, actually we don't need this as much as we need the primary signer.  in fact, we don't need an sdk for this right now

[2022-04-21 17:27] stella3d commented on #773
we shipped this a while ago with /object_info

[2022-04-21 17:27] #773 closed

[2022-04-21 17:28] awelc opened #1520 "[Move adapter] Relax entrypoint argument ordering and remove entrypoint return values"
The corresponding PR is https://github.com/MystenLabs/sui/pull/1474

[2022-04-21 17:29] #235 closed

[2022-04-21 17:30] awelc commented on #1106
This has been addressed in https://github.com/MystenLabs/sui/pull/1333

[2022-04-21 17:30] #1106 closed

[2022-04-21 17:31] awelc opened #1521 "[Move adapter] Pass vectors of objects to entry functions"

[2022-04-21 17:34] Clay-Mysten commented on #1372
The latest view of that GitHub traffic spike:
<img width="1444" alt="Screen Shot 2022-04-21 at 10 33 01 AM" src="https://user-images.githubusercontent.com/100217682/164518054-e5e55deb-4022-46fa-8fc6-47090c8a5e41.png">

[2022-04-21 17:35] #1349 closed

[2022-04-21 17:35] awelc opened #1522 "[Move] Remove const addresses from Move examples"
It's partially addressed in https://github.com/MystenLabs/sui/pull/1380

[2022-04-21 17:36] kchalkias commented on #182
@lxfind I'm happy with the 2nd option, do not allow a tx with `u64:MAX`.

[2022-04-21 17:37] mystenmark opened #1523 "Wallet sync can fail with no errors"
Its possible for the wallet sync step to fail without any errors. The root cause, as far as I can tell is that quorum_map_then_reduce_with_timeout https://github.com/MystenLabs/sui/blob/main/sui_core/src/authority_aggregator.rs#L291 can time out on every validator, and return a successful response with 0 entries.

[2022-04-21 17:37] todd-mystenlabs opened #1524 "fullnode: scope out and implement an MVP"

[2022-04-21 17:38] todd-mystenlabs opened #1525 "network: define and implement a standard for rpc's internal to sui"

[2022-04-21 17:43] #398 closed

[2022-04-21 17:46] awelc opened #1526 "[Move] Remove explicit context argument to entry functions"

[2022-04-21 17:49] mystenmark commented on #1297
I solved this in devnet by checking in a genesis config: https://github.com/MystenLabs/devnet/blob/mlogan/devnet/docker/validator/genesis.conf

This is not a long term solution

[2022-04-21 17:51] todd-mystenlabs commented on #1385
@sblackshear - talk to @lxfind about this

[2022-04-21 18:08] huitseeker commented on #1523
`quorum_map_then_reduce_with_timeout` is a function composition operation, it would be great if you had the point of call (to see the `FMap`, `FReduce` arguments)

[2022-04-21 18:42] lxfind commented on #1523
So there are several issues in the current implementation that we should fix/improve:
1. First of all, we use 60s as the timeout for any query to validators. This is probably too long for DevNet. We should make it maybe 1s for DevNet so that we get quicker feedback on network issues.
2. Only transaction execution would check on the result of quorum, i.e. whether we got back enough to form a cert.

[2022-04-21 19:01] lxfind commented on #559
Turns out this is already done. Owner currently have AddressOwner and ObjectOwner

[2022-04-21 19:01] #559 closed

[2022-04-21 19:20] #104 closed

[2022-04-21 19:21] 666lcz opened #1527 "[P2]Load Examples in genesis config as custom packages"
context: https://mysten-labs.slack.com/archives/C02DRAL32GN/p1650479311960919?thread_ts=1650475710.394509&cid=C02DRAL32GN

[2022-04-21 19:23] #638 closed

[2022-04-21 19:25] #842 closed

[2022-04-21 19:26] oxade commented on #450
Done

[2022-04-21 19:26] #450 closed

[2022-04-21 19:26] #383 closed

[2022-04-21 19:32] 666lcz opened #1528 "[P2] [documentation][Wallet CLI] Add documentation for creating example NFT"
Add documentation for https://github.com/MystenLabs/sui/pull/1412

[2022-04-21 19:57] bwann52 commented on #1261
in our triage process, would something like this count as feature enhancement or major feature? @todd-mystenlabs

[2022-04-21 19:58] bwann52 commented on #1244
@Clay-Mysten for more context

[2022-04-21 20:05] mystenmark commented on #1161
For devnet, we need something very simple given the tight time frame. I suggest:

- have some way to see where a DoS attack is coming from
- have a script or well-documented method for adding the offending IP(s) to a firewall rule.

[2022-04-21 20:12] Clay-Mysten commented on #1244
I think this is a no-op given our API reference docs appear to be versioned already:
https://app.swaggerhub.com/apis/MystenLabs/sui-api/

The only decision to be made here is to determine if we might somehow need to let users toggle to older docs on our tools, say Wallet and Sui. (Xun and I ran into this yesterday where I was using a command argument from an older version of Wallet.)

Frankly, I d

[2022-04-21 20:23] lxfind commented on #1244
I don't know if our API is versioned. Could someone else confirm? @patrickkuo

[2022-04-21 20:26] Clay-Mysten commented on #1244
I can:
https://app.swaggerhub.com/apis/MystenLabs/sui-api/0.2
https://app.swaggerhub.com/apis/MystenLabs/sui-api/0.1

[2022-04-21 20:34] mystenmark opened #1529 "100% CPU usage when running with >f faults"
If you start up a validator that can't connect to all its peers, it consumes all available CPU. I assume it is constantly retrying to connect.

If this is indeed the cause, we need to have some reconnect delay, possible very short initially with exponential backoff. (cc @bmwill)

@asonnino You can probably replicate this by running the validator locally with non-existant peers in network.conf.

Al

[2022-04-21 20:45] asonnino commented on #1529
for the narwhal/tusk codebase it should be fine (we tested it and benchmarked it under faults countless times). The validator should start reconnecting with backoff: https://github.com/MystenLabs/narwhal/blob/5075909cc79dc824b937c93fd91164ae74e76042/network/src/reliable_sender.rs#L165

[2022-04-21 20:46] asonnino commented on #1529
Logging is here: https://github.com/MystenLabs/narwhal/blob/5075909cc79dc824b937c93fd91164ae74e76042/network/src/reliable_sender.rs#L164

[2022-04-21 21:12] Clay-Mysten commented on #1362
I've started with the Build index. How does this look?
https://github.com/MystenLabs/sui/pull/1530

[2022-04-21 21:25] patrickkuo commented on #1161
Do we want to build this into the JSON-RPC server?

Currently jsonrpsee only support very basic "resource limiting" functionality, it can limit number of concurrent requests but cannot enforce limit by IP, and the middleware api provided does not contain request header/ IP address (looks like they [have plan](https://github.com/paritytech/jsonrpsee/issues/699) to add it but there are no timeline).

[2022-04-21 21:59] #1520 closed

[2022-04-21 22:43] velvia commented on #1455
Going to use the prometheus-exporter crate.  This lets us set up a tiny HTTP server for Prometheus scrape, and makes it super easy to get metrics manually too.

[2022-04-21 22:55] Clay-Mysten commented on #1367
Here is an example request in Discord #discuss:
GuruWP_ — Yesterday at 1:56 PM
Hello, I can't find any document on the specificity of the hardware for running on the testnet or on the mainnet, do you have any documentation on this subject? Thank you

I'm envisioning something like:
https://source.android.com/setup/build/requirements

As I said to Sam in Slack, we can always differentiate between m

[2022-04-22 07:07] bwann52 commented on #1237
@Clay-Mysten is this one complete?

[2022-04-22 13:18] damirka commented on #1233
I see few approaches to this issue, @lxfind @sblackshear @tnowacki @awelc, please tell me which one you find the best.

### 1. Balance as Wallet, Coin as a transferable object

- Balance/Wallet as something that people might have to store Coins. Then everyone will need to init their wallet with `create_wallet<T>`
- Coin as a transferable object, which can be used in flash loans or to pass somewher

[2022-04-22 13:27] huitseeker opened #5218 "Merkle-ize Batch representations"
We have resolved to Merkelize the hashing of Batches, implicitly letting any primary organize the storage of those batches as split on any number of workers.

This story is about switching our implementation to this primary-controlled worker allocation based on a Merkle hash.

This ties into MystenLabs/narwhal#54.

[2022-04-22 14:34] todd-mystenlabs commented on #1161
I think long-term we want something intelligent that the network can use that would help any operator.  Short-term (for devnet launch), we have a few options that will apply to our own running node: (1) we can put HAproxy in front of this (@bmwill / @mystenmark); and (2) we may have additional protection via external means.

[2022-04-22 15:35] patrickkuo opened #1537 "[Sui Rust SDK] - Build and publish sui-sdk crate"
The crate should contain `RpcGatewayClient`, signer api and helper functions for creating transactions and interact with the sui network.

[2022-04-22 15:56] lxfind commented on #1233
From clarity perspective, it still seems that (2) is the simplest.
But I want to take a step back to make sure we are all on the same page of the issue.
The core of the issue, is that we think using `Balance` in cases like FlashLoan where a balance object is  temporarily need during a transaction and doesn't need to live across transactions, is more convenient to code than using `Coin` directly. I

[2022-04-22 16:12] lxfind opened #1538 "Improve all error messages"
Each error message should ideally be self-explanatory and by looking at them we should know what went wrong.

[2022-04-22 16:17] sblackshear commented on #1233
- I agree on (2).
- Yes, the problem this is solving is only a convenience/efficiency one. In cases where you only need a `Balance`, we can avoid generating/storing an object ID, often avoid passing around `TxContext` parameter, avoid destroying the object ID when merging `Balance` with another `Balance` or with `Coin`, etc.

[2022-04-22 16:17] velvia commented on #1502
@gdanezis the "raw read" API is already there.  RocksDB has a tool called rocksdb_ldb, which is how I got stats on DB size, key size, etc.  It can dump out binary keys and values in hex.

[2022-04-22 16:42] Andrew47 commented on #1043
I've created a draft PR and rebased the code on the latest main branch. The main remaining blocker left is how the UI knows that an object represents a smart contract. Currently the UI examines the `owner` field and checks if this is equal to `'SharedImmutable'` --> see line 25 of `explorer/client/src/pages/object-result/ObjectLoaded.tsx`.

[2022-04-22 16:59] bmwill opened #1540 "Add git commit to be logged when wallet starts up"

[2022-04-22 17:38] bmwill opened #5220 "running `fab local` closes existing tmux sessions"
I generally work inside of a tmux session and running `fab local` clobbers that sessions, in fact it seems to clobber all existing/running sessions even if invoked outside of tmux

[2022-04-22 17:48] patrickkuo commented on #1043
@Andrew47 I will take a look, should be able to add the object type in quite easily

[2022-04-22 18:13] damirka commented on #1233
Okay. Then let's settle on the 2nd. 👍

[2022-04-22 18:21] #1540 closed

[2022-04-22 18:30] lxfind opened #1543 "[Move] Enforce immutable/shared object at creation"
Proposal for discussion: Should we require immutable and shared objects to be immutable/shared at creation, and not allow turning an owned object into immutable/shared latter?
There are a few potential issues to allow turning an owned object into immutable/shared:
If an object has child objects, then turning it into immutable would freeze all child objects. This could be a feature, but I think it'

[2022-04-22 19:09] Clay-Mysten commented on #1493
See progress from our meetings in:
[go/sui-validator-onboarding](https://app.golinks.io/sui-validator-onboarding)

[2022-04-22 19:25] Clay-Mysten commented on #1237
Thanks, Godwin!

[2022-04-22 19:25] #1237 closed

[2022-04-22 20:36] huitseeker commented on #1504
Duplicate of #1486

[2022-04-22 20:36] #1504 closed

[2022-04-23 00:00] mystenmark opened #1552 "wallet thinks it owns gas objects it doesn't"
It appears to be possible for the wallet to think that it still owns objects that it doesn't. Note that `FF46...` still shows up as a gas object, but it has been transferred to a different address.

[code]

[2022-04-23 00:02] asonnino opened #1553 "Load consensus committee & parameters form either genesis or on-chain state"
We should eventually load the consensus committee config from file. We currently rely on this fix: https://github.com/MystenLabs/sui/pull/1550#issuecomment-1107054918

[2022-04-23 00:04] Clay-Mysten commented on #1368
Hi all,

Some progress on this. See:
Add converted LaTex files from Sui white paper to docs directory #1551
Create latex-md.sh #1548

I have no doubt both need work. I need to get the files named properly and likely get this job in Git Hub actions.

Still, I wanted you all to see something first. Let's talk.

[2022-04-23 02:59] #1488 closed

[2022-04-23 04:12] lxfind commented on #1403
Moving this to DevNet. When writing Move tests, if an object is expected but not found, abort will happen in native functions. This can be quite common.

[2022-04-23 11:22] gdanezis commented on #1543
Its not because we can -- from a dist sys safety perspective -- transitions from owned to immutable to shared that we must. If you feel we do not lose any expresivity, then lets encode it in the type, and never change it -- and we can always provide explicit conversions if need be right? ( ie. fn freeze ( ObjOwned ) -> ObjImmutable )

[2022-04-23 11:27] gdanezis commented on #1553
We should in fact eventually load the consensus committee from the latest epoch record within the Sui governance contract that manages it. So I suggest we do not go through the "file" intermediate step.

[2022-04-23 11:29] gdanezis commented on #1529
This should be fixed before we go to devnet, since this code runs right?

[2022-04-23 12:12] asonnino commented on #1529
Where is the issue exactly (narwhal, Sui or the interface)? I think there was a config issue with narwhal that has been fixed, so you still see issues?

[2022-04-23 15:41] mystenmark commented on #1529
To replicate:

         ./target/debug/validator --genesis-config-path $HOME/dev/devnet/docker/validator/genesis.conf --address <address from network.conf>

When I do this locally, I do get logging, which is helpful (I did not see any logs when it was running in docker), but validator still immediately pegs the CPU at 100%.

It seems likely this failure mode will still occur when the configuration

[2022-04-23 15:56] lxfind commented on #1543
Did you mean we must support transition from owned to immutable/shared object? Why is that?

[2022-04-23 16:07] lxfind opened #1557 "[Move devex] Improve error message when missing an argument in function call?"
When I am making a function call to a template function that expects 2 arguments but I only passed 1, I expect a single error saying I missed one argument. But instead I see 3 separate errors.

Signature:
[code]
Caller:
[code]
Error:
[code]

[2022-04-23 17:12] asonnino commented on #1529
thanks,  I’ll check that first thing on Monday

[2022-04-23 17:14] lxfind commented on #1543
On immutable: I take it back. Enforcing immutable at creation is basically making immutability useless. One can simply define the type without any functions that can mutate the object. A more typical usecase, if any, with immutable object should be that an object used to be mutable and at some point people want to make it immutable. However, even this use case is a stretch. One can only mutate the

[2022-04-24 12:52] gdanezis commented on #1543
No exactly the opposite. We are not obliged to support it if we think this is not needed to express interesting contracts.

What I was trying to say was: we have many option on safe things we can do from the perspective of the system (like the transitions you mention). This does not mean we must do them. We must only do them if they are useful to our users. Otherwise, the simpler the better (so no

[2022-04-24 12:54] gdanezis commented on #1543
We totally need immutable objects. Like our contracts are immutable objects, and any object that needs to convey information to make users could be immutable to achieve this.

My understanding of your proposal was: we define a constructor for a type, and you can construct the object. But after that the object is immutable, and cannot be deleted. This is quite usual in programming no? Why would thi

[2022-04-24 16:11] lxfind commented on #1543
Contract will still be immutable. So the question is whether we need immutable Move objects.
It's fairly easy to enforce an immutable object without making it immutable: developer can simply not define any function that takes a mutable reference or by-value argument of this type. The compiler can even infer this and tell them: hey this type will never be mutated after creation. So I am trying to f

[2022-04-24 16:18] todd-mystenlabs commented on #1226
Got it, ok!

Sent via Superhuman iOS ***@***.***>

On Thu, Apr 21 2022 at 10:25 AM, Stella Cannefax ***@***.***>
wrote:

[2022-04-25 05:46] #1400 closed

[2022-04-25 05:57] lxfind opened #1562 "store/event/lock placeholder"

[2022-04-25 05:59] #271 closed

[2022-04-25 06:05] #1108 closed

[2022-04-25 08:18] 666lcz opened #1563 "[Faucet] Create Bare-Bone Faucet"
Send X number of Gas object with fixed amount to the person who requested gas

[2022-04-25 08:18] 666lcz commented on #1563
https://github.com/MystenLabs/sui/pull/1549

[2022-04-25 08:18] #1563 closed

[2022-04-25 08:20] 666lcz opened #1564 "[Faucet] Implement rate-limiting by IP and Sui Address"

[2022-04-25 08:21] 666lcz opened #1565 "[Faucet] Wallet CLI command to request Gas"

[2022-04-25 08:22] 666lcz opened #1566 "[Faucet] Deployment"

[2022-04-25 08:23] 666lcz opened #1567 "[Faucet] Improve concurrency"

[2022-04-25 08:29] 666lcz opened #1568 "[TypeScript SDK] Signing Interface"

[2022-04-25 08:30] 666lcz opened #1569 "[TypeScript SDK] Provider Interface"

[2022-04-25 08:30] #1569 closed

[2022-04-25 08:30] #1568 closed

[2022-04-25 08:31] 666lcz opened #1570 "[TypeScript SDK] Read API"
Object and Transactions Read API

[2022-04-25 08:32] 666lcz commented on #1570
https://github.com/MystenLabs/sui/pull/1482
https://github.com/MystenLabs/sui/pull/1483

[2022-04-25 08:32] #1570 closed

[2022-04-25 08:36] 666lcz opened #1571 "[Explorer] Frontend Deployment"

[2022-04-25 08:43] 666lcz opened #1572 "[RPC] RPC Server deployment"

[2022-04-25 13:59] asonnino commented on #1529
I didn't manage to replicate. I tried to run a testbed locally with 4 nodes (out of which one node is crashed).

<img width="1512" alt="Screenshot 2022-04-25 at 09 58 55" src="https://user-images.githubusercontent.com/28302983/165104420-2f801e32-4b62-4fac-969d-baaa0fc64e3a.png">

[2022-04-25 15:10] lxfind commented on #1478
Focus on just enough to get to DevNet

[2022-04-25 15:11] Clay-Mysten opened #1576 "Document how to create and run a fullnode"
Running a full node is a prerequisite for becoming a validator. Further, we expect non-validators to run full nodes. So we need these instructions outside of the validator documentation being formed in:
https://github.com/MystenLabs/sui/issues/1493

And similarly, all of this depends upon us nailing down system requirements:
https://github.com/MystenLabs/sui/issues/1367

All of this is part of:
[g

[2022-04-25 15:13] mystenmark commented on #1529
I don't know if this can be replicated with `sui start` - i have only seen this when running the validator binary.

[2022-04-25 15:14] asonnino commented on #1529
How can I replicate it by running the a network of validators locally? Do we have a tutorial by any change?

[2022-04-25 15:28] patrickkuo opened #1577 "[Rest Gateway] - Remove Rest Gateway implementation as it's replaced by JSON-RPC and no longer used"

[2022-04-25 15:35] mystenmark commented on #1529
Please checkout branch `mlogan-repro-issue-1529`, and run `./repro-1529.sh` in the root

[2022-04-25 15:39] kchalkias commented on #1223
Deterministic key derivation - DONE - https://github.com/MystenLabs/sui/pull/1508
Signer RPC server - WIP in this branch: https://github.com/MystenLabs/sui/tree/kostas-deterministic-signer-rpc

[2022-04-25 15:40] gdanezis commented on #1543
yes, this is a crucial usecase. Now if the compiler can tag an object as immutable, in a way that we can infer it is immutable and allow it to be read by everyone, all the better.

[2022-04-25 15:45] 666lcz opened #1578 "[documentation][TypeScript SDK] Add documentation for SDK"

[2022-04-25 15:52] Clay-Mysten commented on #1576
Adding Brandon as I caught reference to him having a doc in our meeting on this topic today. Brandon, please send it my way!

[2022-04-25 15:56] Andrew47 commented on #1578
Thank you for setting up this issue. As well as documenting the different pieces of functionality this SDK provides, it would be great if example commands were provided that give valid object and address results which would help with testing.

[2022-04-25 16:09] 666lcz commented on #1185
@Andrew47 @bwann52 should we close this?

[2022-04-25 16:47] lxfind commented on #1296
@oxade

[2022-04-25 16:48] lxfind opened #1579 "Delete REST API"
We will be using RPC API moving forward.
@patrickkuo

[2022-04-25 16:51] oxade commented on #1296
Thanks @lxfind I'm looking into it

[2022-04-25 17:08] patrickkuo commented on #1577
same problem is being tracked here -> https://github.com/MystenLabs/sui/issues/1579

closing this duplicated issue

[2022-04-25 17:08] #1577 closed

[2022-04-25 17:15] asonnino commented on #1529
Is this starting a single validator, right?

[2022-04-25 17:19] asonnino commented on #1529
I checked the problem and it seems that the module using all the CPU is `primary::block_remover`. Looking at the git history it seems this module has been recently added by @akichidis. @akichidis  any idea what may cause this problem?

[2022-04-25 17:38] akichidis commented on #1529
Ah that's very weird . @asonnino what's the tool you used to figure this out? Interesting to see the results. The weird thing is that the `block_remover` at the moment should practically do nothing, as no-one is calling it (e.x sending any commands to remove blocks etc - do something).

[2022-04-25 17:44] asonnino opened #1580 "Add shared object version in Signed Effect Transaction"
If we don't do it we aren't able to sync and the client cannot really make sense of the execution result.

[2022-04-25 17:59] asonnino opened #1581 "Calibrate Narwhal/Tusk delays"
Narwhal timers need to be carefully balanced to ensure nodes with higher load than others do not systematically get excluded from the DAG.

[2022-04-25 18:01] asonnino commented on #1529
It is printing the following error line many times
[code]
I am still investigating because I didn't manage to pinpoint the cause of the problem yet

[2022-04-25 18:08] akichidis commented on #1529
This is though seems to be printed by the worker node, right? This is not primary. So a message is sent to a worker and this is failed to be deserialised

[2022-04-25 18:09] Clay-Mysten commented on #1576
Brandon has an excellent start on documentation in:
https://app.golinks.io/sui-fullnode

[2022-04-25 18:17] asonnino commented on #1529
yes it is very hard to track the issues, it seems we have been copy-pasting files in different repos for instance
https://github.com/MystenLabs/sui/blob/main/sui/src/validator.rs
and
https://github.com/MystenLabs/sui/blob/main/sui/src/validator.rs

[2022-04-25 18:20] asonnino commented on #1529
Sorry I meant this one:
[code]

[2022-04-25 18:33] akichidis commented on #1529
Ok, from the above data then it seems like the worker (for whatever reason) is constantly sending to the `primary` a message multiple `WorkerPrimaryMessage::DeletedBatches` with `empty` batch digests vector. Probably need more data to investigate/replicate this.

[2022-04-25 18:54] asonnino commented on #1529
It seems there are many problems causing this issues. There is a misconfiguration on the committee (maybe one of our docker scripts?) and Narwhal way trying to sync empty parents (Narwhal was not built to run with less than 2f+1 honest nodes).

This PR should take care of half of the problem: https://github.com/MystenLabs/sui/pull/1582
And this PR should fix the other half: https://github.com/Myst

[2022-04-25 18:54] asonnino commented on #1529
This is an issue but I don't think it is the core problem burning all our CPU (so maybe it can wait)

[2022-04-25 20:16] tnowacki commented on #1233
Bringing this back up from #1573. It feels very strange to me that "Coin" is non-fungible (at least sort of)

I would personally vote for
[code]
A "wallet" is something in my pocket. It is mine and is different from yours. The coins/currency units in them are interchangeable.

[2022-04-25 21:39] asonnino commented on #1529
Edit: PR #1582 still does not seem to fix the issue. The CPU consumption goes back to 100% after a while (a few minutes rather than imeditaly). The Narwhal Primary (neither the worker nor consensus) seem to be the problem.

[2022-04-25 21:56] asonnino commented on #1529
To clearly see the issue, we can use the following script from `./sui`:
[code]
We then observe the CPU spiking to 100%. If however we have a quorum of nodes (thus less than `f` faults) the problem disappear: we can observe it by modifying the script like this:
[code]

[2022-04-25 22:00] sblackshear commented on #1543
A few thoughts:
- With the proposal we are considering to enable shared object deletion (`Sequencer` is the only shared object type + there's only one such object for now), I think the question about owned -> shared transitions goes away. There's only one magic shared object.
- However, any owned object can *effectively* become shared by becoming a direct or transitive child of a `Sequencer`.
- IM

[2022-04-25 22:31] lxfind commented on #1543
There are some differences in these two approaches, and I wonder what the trade-offs are:
A: There is only one shared object, and any object that needs shared access will make the object a child of that single shared object, i.e. we only support introducing effectively shared object.
B: There is a shared object wrapper type. Any object that needs to be directly shared can be wrapped into this wrap

[2022-04-26 00:57] sblackshear commented on #1543
Good questions; here's how I would break it down (and am curious to hear your thoughts)

`Shared<T>`:
+ No need to include extra `Sequencer` object ID as input
+ Transfers of the `T` prevented by construction
- Not immediately clear to me how deleting the `T` would work
- Minor devex annoyance of needing to borrow the `T` instead of taking `&mut T` as input directly

`Sequencer`
+ Deletion seems m

[2022-04-26 03:43] sblackshear commented on #1543
Ah, I see--I think maybe I misunderstood `Shared<T>`. Is the idea that the `T` is phantom type + the "real" shared object is a child of `Shared<T>`?

[2022-04-26 03:45] lxfind commented on #1543
Oh no it will just be something like:
[code]
It's an object in itself, and wraps an object in it. But since it's an object, it can have child object, too.

[2022-04-26 04:50] sblackshear commented on #1543
Gotcha. In that case, I'd replace the "Not immediately clear to me how deleting the T would work" con with "Only partial deletion is possible".

[2022-04-26 07:42] gdanezis commented on #1580
More context for this issue:
* The exact shared object version and digest is not know to the creator of the transaction unlike the owned or immutable objects, at the time of the transaction creation.
* Instead the object version is determined once the certificate is sequenced by consensus and assigned by validators, and is known (a prerequisite) at the time the ceritficate can be processed.
* At t

[2022-04-26 12:39] gdanezis commented on #1581
I would prefer if we find a heuristic / simple but adaptive strategy to ensure that block production slows down in case no collections are being sealed.

[2022-04-26 15:46] lxfind commented on #1580
One challenge that I foresee in the Gateway is, even with the effects, to be able to re-execute it we also need the input objects. For shared objects, it's unclear to me where to get the objects.

[2022-04-26 15:56] lxfind commented on #1562
@velvia I was hoping you could help scope what we plan to get done by DevNet time :)

[2022-04-26 15:57] todd-mystenlabs commented on #1572
I don't think this needs to be automated for our initial devnet date.

[2022-04-26 16:03] #1225 closed

[2022-04-26 16:05] velvia commented on #1562
Oh got it.  Yes absolutely, will be added soon.

[2022-04-26 16:18] mystenmark commented on #1572
I believe it does - its a critical part of a functional devnet. Its already done on gcp (https://github.com/MystenLabs/sui-operations/pull/12) and shouldn't be at all difficult to include in the AWS deployment.

[2022-04-26 16:27] tnowacki opened #1594 "Gas calculations overflow with a very large gas_budget"
Made a transaction with the gas budget set to u64::MAX. This causes an overflow in move-core/types/src/gas_schedule.rs:206:31

Not sure if we should do some verification (or already do and my tests are bypassing it) on transactions, or fix it on the Move side of things?

[2022-04-26 20:14] 666lcz opened #1597 "[RPC Server] CORS is not working properly"
![corsError](https://user-images.githubusercontent.com/76067158/165383849-0da238f9-ff24-4279-b7ee-c4d48cb4958f.png)
![corsNetwork](https://user-images.githubusercontent.com/76067158/165383860-4b21dc84-6fd5-4f72-9bd3-b9b4a6770618.png)

@Andrew47 encountered the above error when trying to send request to RPC server on DevNet through the Explorer frontend. The deployed instance should have `ACCESS_CO

[2022-04-26 20:27] 666lcz commented on #1597
These might be helpful but I haven't gotten the chance to take a close look:
- [jsonrpsee preflight](https://github.com/paritytech/jsonrpsee/blob/e6c6ac58a182930f7aaf304395b2eb664c7eecc5/tests/tests/integration_tests.rs#L620)
- https://github.com/MystenLabs/sui/pull/893

[2022-04-26 20:30] sblackshear commented on #1233
I think the unfortunate thing about the term `Wallet` is that it's already so overloaded because of the frontend tool concept. For example: in our tutorial about Sui wallet, we would begin by talking about how to get `Wallet` objects associated with your address...

[2022-04-26 21:22] sblackshear commented on #1233
`Coin` is (IMO) a reasonable term, and it's also everywhere (e.g., the explorer and wallet CLI)--I would be hesitant to change it (especially this close to our devnet launch) without a strong motivation.

[2022-04-26 21:59] patrickkuo commented on #1597
The acl config is set correctly in jsonrpsee server, could be a jsonrpsee bug… I will investigate

[2022-04-26 22:08] asonnino opened #1600 "Shared object index initialisation"
There seem to be a bug in the way Move & the Sui authority interact in handling shared objects. Move creates new shared objects with a sequence number of `1` while the authority expects it to start at `0`. As a result we can create a shared object through Move contract but we can't use it at all (liveness bug).

[2022-04-26 22:48] patrickkuo commented on #1597
Looking at the code, jsonrpsee only returns `ACCESS_CONTROL_ALLOW_ORIGIN` header if `Origin` is not equals to `host`
Do we set the `Origin` header in the request, it will not return the flag if `Origin` is not set.

https://github.com/paritytech/jsonrpsee/blob/e6c6ac58a182930f7aaf304395b2eb664c7eecc5/http-server/src/server.rs#L439-L451

[2022-04-26 22:56] mystenmark opened #1602 "gateway/wallet cannot retrieve all objects owned by address"
Observe the following session (this is on a freshly-genesised devnet):

1. I list all objects owned by the target address
2. I query an object that was not listed
3. That object reveals that it is owned by the address I specified in step 1.
4. I repeat step 1 and now the missing object is listed.

[code]

[2022-04-26 22:57] mystenmark commented on #1602
Possibly relevant: the owning address above is the faucet service, it owns 100 objects. The other genesis addresses own 5 objects each, and listing those works fine.

[2022-04-26 23:07] patrickkuo commented on #1597
I tried with postman with added Origin header and it works fine
<img width="2056" alt="image" src="https://user-images.githubusercontent.com/1888654/165407075-20aff249-c14c-4a95-9e0e-0209f9eee956.png">

I tried https://github.com/njgibbon/nicks-cors-test, it doesn't work because somehow all my browsers are not setting the Origin header :|

[2022-04-26 23:09] 666lcz commented on #1602
It works for me

[code]

[2022-04-26 23:11] mystenmark commented on #1602
also works for me, now. Hurray, a heisenbug.

[2022-04-26 23:11] 666lcz commented on #1597
@patrickkuo postman should work even without setting `Origin` right? cc @arun-koshy @stella3d @Andrew47  for any insights

[2022-04-26 23:15] arun-koshy commented on #1597
Correct, CORS is a server side configuration and clients decide to enforce it or not. Development tools like Postman don't care about this so they don't enforce it. Browsers do, which is why you should that exclusively for testing CORS.

[2022-04-26 23:30] patrickkuo commented on #1597
Yes postman will work regardless of CORS, but I am looking at the return header from the server, it does have the ACCESS_CONTROL_ALLOW_ORIGIN header set

[2022-04-26 23:39] arun-koshy commented on #1597
I did some quick digging but maybe the correct behavior is to not have it set if you want any `Origin` to be allowed?

[set_allowed_orgins doc comments](https://github.com/paritytech/jsonrpsee/blob/2f5fef24534b96a0827d519664d601ba861361a5/ws-server/src/server.rs#L722) seem to indicate this and binary code seems to show that it is set via an environment variable which is what I assume you are setti

[2022-04-27 06:42] 666lcz opened #1605 "[Sui CLI] Cargo install is failing"
Got the following error message

[code]

This is caused by the usage of `output.stderr.escape_ascii()` in https://github.com/MystenLabs/sui/blob/96611e00df74146d73567b6731514dfb5b1a543c/sui/build.rs

[2022-04-27 08:04] #1580 closed

[2022-04-27 08:59] patrickkuo commented on #1597
Ah you are looking at the Websocket implementation, we are using the HTTP server

[2022-04-27 10:57] patrickkuo commented on #1597
@666lcz can you try setting the `Origin` header in the request and see if that works? I couldn't get explorer to run locally so can't confirm if this works. (getting bunch of `Module not found: Error: Can't resolve 'sui.js'`)

Looks like geth is behaving the same way https://ethereum.stackexchange.com/questions/10622/why-is-access-control-allow-origin-not-in-the-response-headers

[2022-04-27 12:49] huitseeker opened #5255 "[doc] Update the primary and worker diagrams"
### Story
We have inserted new components to our primary as part of e.g.#125 and MystenLabs/narwhal#130 (block synchronizer, subscriber).

We should update the diagrams in https://github.com/MystenLabs/narwhal/tree/main/.assets in order to reflect those changes.

We could:
- keep the existing draw.io approach,
- or translate those diagrams to [`Mermaid`](https://github.blog/2022-02-14-include-diag

[2022-04-27 13:58] asonnino opened #1608 "Multi-task shared-object execution"
Currently Sui only executes consensus certificates in a single task. It should instead be executed on the AuthorityServer task.

[2022-04-27 14:00] asonnino opened #1609 "Modify Gateway and Wallet for shared object"
The Gateway and Wallet do not seem to support shared objects today. We need to modify it very little to make that happen, the client software simply needs to wrap certificates into the `ConsensusTransaction` type when it contains a shared object. Then it submits it as usual.

[2022-04-27 14:56] #1600 closed

[2022-04-27 14:57] awelc commented on #1323
Implemented in https://github.com/MystenLabs/sui/pull/1532

[2022-04-27 14:57] #1323 closed

[2022-04-27 15:00] #1503 closed

[2022-04-27 15:50] Clay-Mysten commented on #1241
And Xun...

[2022-04-27 15:52] Jibz1 commented on #1241
@Clay-Mysten  I will look into it later this week.

[2022-04-27 16:18] patrickkuo commented on #1330
@lxfind do you have an example to reproduce this bug? I tried ObjectBasics and it seems to work fine.

[code]

[2022-04-27 16:50] Clay-Mysten opened #1617 "Reduce image sizes in Panzerdogs x Sui and SoWork"
I noticed while reviewing the site the images on this page take a long time to load:
https://docs.sui.io/explore/panzerdogs

Sure enough, they are quite oversized. This one is 4.2 MB!
https://docs.sui.io/suipanzerdogs3.png

We should scale each image down to only the size needed, in this case likely no more than 1600 pixels wide. That would cut the image size in more than half.

Bauer, let me know

[2022-04-27 16:51] Clay-Mysten commented on #1617
This may also apply here:
https://docs.sui.io/explore/sowork

[2022-04-27 16:52] bwann52 commented on #1617
@econmysten do you still have the original images? Sounds like we just need to do a quick replacement for this @Clay-Mysten right?

[2022-04-27 16:59] asonnino opened #1620 "Return error when sending single-owner transaction to consensus"
If a silly/buggy client submits a transaction with no-shared object through consensus, the transaction will not go through and no error messages will be returned to the client.

[2022-04-27 17:08] Clay-Mysten commented on #1241
We don't have to do this, my friend. I was simply looking for a decision so I know how to proceed. We have some folks using it and others not. Trying to standardize...

[2022-04-27 17:11] Clay-Mysten commented on #1617
Totally. You could even reduce the existing .png files with some admitted lossiness/fuzziness. Just download them, load them in Preview and scale to 1600 pixels wide. Even that is huge but better.

[2022-04-27 17:52] lxfind opened #1622 "Not display all consensus::tusk logs to the screen when running sui"
Right now, when we launch sui, it will start to display all consensus::tusk logs even when there is no activity, and it's a lot. This makes it impossible to identify actual activities from the log.
Can we not display information on every committed empty block from tusk?

[2022-04-27 17:55] asonnino commented on #1609
This test should provide more clarity: https://github.com/MystenLabs/sui/blob/33677cf092e23cfa76937d1494ed795960dcb25f/sui/tests/shared_objects_tests.rs#L104

[2022-04-27 19:29] huitseeker commented on #1622
Should be alleviated by https://github.com/MystenLabs/narwhal/pull/181 but the original point stands.

[2022-04-27 19:56] huitseeker opened #1624 "[consensus] Shared object transaction unit test failure"
Encountered on CI of a PR modifying purely github metadata:
https://github.com/MystenLabs/sui/runs/6200152939?check_suite_focus=true

Flaky and non-reproducible.

[code]

Full log : https://gist.github.com/huitseeker/e5333b31a45b20fe6e56d1d6e425f78b

cc @asonnino for shared objects, @velvia for locking service.

[2022-04-27 20:27] asonnino commented on #1624
mmh that's strange. Feel free to #[ignore] the tests for now. I am working on a number of things and then I will go and fix it

[2022-04-27 20:31] huitseeker commented on #1624
Encountered once again https://github.com/MystenLabs/sui/runs/6200526155?check_suite_focus=true

[2022-04-27 20:45] Clay-Mysten opened #1625 "Remove second slash from URLs in Source Code links"
From the Dev Portal, scrolling to the bottom of any page, you can access the source file from the Source Code link. For some reason, these always contain double forward slashes, say from:
https://docs.sui.io/explore/tutorials

To:
https://github.com/MystenLabs/sui/blob/main/doc/src//explore/tutorials.md

Note the double slashes before explore. Not sure what's causing this. Since the links work, th

[2022-04-27 20:46] huitseeker commented on #1624
And again: https://github.com/MystenLabs/sui/runs/6200654500?check_suite_focus=true

[2022-04-27 20:47] Jibz1 commented on #1625
@Jibz1 got it

[2022-04-27 20:54] huitseeker commented on #1624
And again : https://github.com/MystenLabs/sui/runs/6200808291?check_suite_focus=true

OK,I'm unplugging it.

[2022-04-27 20:57] huitseeker commented on #1624
https://github.com/MystenLabs/sui/pull/1626

[2022-04-27 20:59] Clay-Mysten opened #1627 "Document meaning of trust when dealing with objects"
The Eng team had a hearty discussion on the meaning of trust when it comes to Sui objects. The results could provide clarity for our users. It sounds like the idea is a work in progress. I'm capturing key points made for easy reference later.

Xun's example:
https://mysten-labs.slack.com/archives/C02GD7J9HUM/p1651018746551519?thread_ts=1651016045.325879&cid=C02GD7J9HUM

Sam's summary:
https://myst

[2022-04-27 21:50] theodormarcu commented on #1605
I was able to fix this issue by running `rustup update` and updating to `rustc 1.60.0` (Apple Silicon).

[2022-04-27 23:00] lxfind opened #1634 "Remove `ConfirmationTransaction` wrapper"
This seems not used at all. Is there a reason we still need it? @gdanezis

[2022-04-27 23:19] Clay-Mysten commented on #1102
I'm noting @huitseeker has a related request in:
https://github.com/MystenLabs/narwhal/issues/179#issuecomment-1111009722

I will try to make time for this work soon.

[2022-04-27 23:19] #1366 closed

[2022-04-27 23:22] Clay-Mysten opened #1636 "Map code to docs, consider automating testing of code in docs"
Adam and I agreed it would be worthwhile to identify all of the code our docs reference so we may ensure updates to one are at least considered for the other. To this end, I have created this mapping:
https://app.golinks.io/code2docs

It identifies .move and .toml files referenced in (and typically linked from) the docs. The goal is to insert a code comment near the top helping the requisite engin

[2022-04-27 23:30] Clay-Mysten opened #1638 "Review Validators overview"
Now that we approach the time to serve validators, we should make sure related information is up to snuff. So I'm filing this issue to ask for review of:
https://docs.sui.io/learn/architecture/validators

Some of this began inadvertently with the review of a link change in PR:
https://github.com/MystenLabs/sui/pull/1615
From the work in:
https://github.com/MystenLabs/Prose/issues/12

But this requ

[2022-04-27 23:31] huitseeker commented on #1102
@Clay-Mysten This is not urgent, as the new components are not productionized yet, and the diagram update is a task perhaps best left to their authors.

[2022-04-27 23:38] Clay-Mysten commented on #1625
Thanks so much, Godwin!

[2022-04-27 23:51] Clay-Mysten commented on #1102
Thank you, @huitseeker! That is a relief to hear, my friend. Just wrapped up a bunch of intranet work in:
https://github.com/MystenLabs/Prose/issues/15

And the issues it references. Now turning back to the white paper:
https://github.com/MystenLabs/sui/issues/1368

Review of the Narwhal Benchmark remote tests now that I have AWS set up:
https://github.com/MystenLabs/Prose/issues/12

And then refa

[2022-04-27 23:56] asonnino commented on #1624
Here is my theory of what happens (just a theory since I cannot reproduce), @huitseeker let me know if it makes sense.

The Sui authority submitted the certificate containing shared-object SO to consensus, it is then configured to wait for 1 second for the consensus' output and then abort. The reason why it does so is because a transaction submitted to consensus is not guaranteed to be eventually

[2022-04-28 00:00] asonnino commented on #1624
The shared-object logic is not broken but the client/synchronizer has to do a lot of things to submit shared object transactions (my test client doesn't do any of it). I am now thinking about the best way to solve it (potentially by alleviating some of the load from the client).

[2022-04-28 00:01] asonnino commented on #1624
(Also the error message returned by `AutorityState` is not very clear)

[2022-04-28 00:10] huitseeker opened #1639 "[doc, UX] split our binaries from the Sui crate by use case"
[code]

I count 7 binary targets outside of the `faucet` crate. So :
- the command in the doc is correct, what comes after "this will put three binaries" isn't,
- where as we were mentioning three binaries being installed, we should now list and document up to 7,
- except some of those are probably not useful to most (e.g. validator, bench),
- so we should separate our binaries by use-case first,

[2022-04-28 00:48] econmysten commented on #1617
have uploaded reduced files and requested review

[2022-04-28 03:27] 666lcz commented on #1597
@Andrew47  I have trouble compiling `explore-rpc` as well. I have tried `yarn && yarn build && npm link` under `src/sdk/typescript` as well as `npm link sui.js && yarn && yarn start`. However, it's complaining

[code]

Not sure why since `index.ts` is exporting everything from `index.guard.ts` cc @stella3d

[2022-04-28 03:29] 666lcz commented on #1597
Also, surprisingly in the demo app: https://github.com/MystenLabs/sdk-test-app, which is also browser based and uses the SDK, there's no CORS issue when making a request to the Devnet

[2022-04-28 07:46] gdanezis commented on #1639
Q: is there value in always shipping validator binary, (or at least full node) to reinforce the message this is a decentralized network?

[2022-04-28 07:48] gdanezis commented on #1634
This is largely a historical artefact, and we have been intending in removing it for some time. BUT lets check with @asonnino whether the shared object logic sees any use for it.

[2022-04-28 08:02] gdanezis commented on #1127
This is blocking on the more general "make better network clients". Pushing to testnet.

[2022-04-28 08:09] 666lcz commented on #1578
Hi @Andrew47 , I added some example commands in https://github.com/MystenLabs/sui/pull/1646 as well as a demo app in https://github.com/MystenLabs/sdk-test-app. Let me know if you have any feedback

[2022-04-28 11:32] asonnino commented on #1634
No we can remove it

[2022-04-28 12:50] Andrew47 commented on #1597
@666lcz --> It looks like the issue is that `index.ts` is not exporting everything from `index.guard.ts`. I could not find the following in the `index.ts` file:

[code]

[2022-04-28 12:53] patrickkuo commented on #1313
this is fixed by https://github.com/MystenLabs/sui/pull/1440

[2022-04-28 12:53] #1313 closed

[2022-04-28 13:15] Andrew47 commented on #1597
It looks like we're no longer getting CORS errors in the SuiExplorer UI:

![image](https://user-images.githubusercontent.com/11377188/165760194-5715d8f1-3766-4b66-9ca6-453b46dc0632.png)

This corroborates with what @666lcz identified with the demo app.

Many thanks to whomever updated the API to resolve this issue.

 Perhaps we can now close this issue as resolved?

[2022-04-28 13:24] #1160 closed

[2022-04-28 14:08] asonnino opened #1647 "Select which authority(es) submit transactions to consensus"
Right now we do the simplest thing: every authority submits the transaction to consensus. This effectively divides our the throughput of our consensus by N (i.e., the committee size).

[2022-04-28 15:39] #1566 closed, assigned to 666lcz

[2022-04-28 16:29] 666lcz opened #1651 "[documentation] Add instructions about how to connect to DevNet"

[2022-04-28 16:53] Clay-Mysten commented on #1578
Chris is making great progress. We agree to link to the contents from the Dev Portal docs in the post DevNet push.

[2022-04-28 16:55] Clay-Mysten commented on #1651
How to connect the Wallet CLI to DevNet.

We also need to link to updated instructions for using the DevNet Explorer:
https://github.com/MystenLabs/sui/issues/1357
https://github.com/MystenLabs/sui/issues/1417

[2022-04-28 16:57] Clay-Mysten commented on #1651
Chris has excellent progress in:
http://go/cli-devnet

[2022-04-28 19:03] Clay-Mysten commented on #1651
And:
https://github.com/MystenLabs/sui-operations

[2022-04-28 19:11] Clay-Mysten commented on #1627
Also let's harvest Sam's podcast on the topic:
https://zeroknowledge.fm/228-2/

[2022-04-28 21:59] #1528 closed

[2022-04-28 22:12] kchalkias commented on #1319
For this to work we have to maintain an ordered map/list of authorities per epoch and atm we use a Btree and HashMap. It will need some refactoring, we could also explore delegating sig verification to this ordered data structure (under committee) that will carry the ID to pubKey mapping. Also if we do `u8` IDs, we should assume that the max num of authorities is 256. Do we want to limit that in o

[2022-04-28 22:52] Clay-Mysten commented on #1651
And more progress from Lu:
https://app.golinks.io/devnet-journeys

[2022-04-28 23:01] bmwill commented on #1605
We use the `rust-toolchain` file in the repo to pin the compiler version we build with, so i'd recommend anyone trying to install our tools to make sure they're using the same version as is specified there. If the build is done inside the repo then the rust tools handle this automatically for you

[2022-04-28 23:01] #1605 closed

[2022-04-28 23:57] Clay-Mysten commented on #1368
Thanks to Francois for his improvements to and approval of:
https://github.com/MystenLabs/sui/pull/1548

I continue to work through the missing macros issue identified in:
https://github.com/MystenLabs/sui/pull/1551/

Now with the `pandoc -f markdown+latex_macros` command documented at:
[pandoc -f markdown-latex_macros](https://pandoc.org/MANUAL.html#latex-macros)

You can see the results here:
ht

[2022-04-29 00:31] #1597 closed

[2022-04-29 14:56] velvia commented on #1319
@kchalkias regarding encoding, a bitmap uses only 1 bit per authority and does not have an upper bound limit like a fixed size u8.    Let's say for up to 256 authorities, where you would expect (2f+1) or say 193 authorities.

u8 encoding (with max 256 limit) - 193 bytes
dumb bitmap - 32 bytes

[2022-04-29 16:52] Clay-Mysten opened #1672 "Replace links to Swaggerhub API throughout Dev Portal"
See:
https://github.com/MystenLabs/sui/pull/1654

Yet we link to:
https://app.swaggerhub.com/apis/MystenLabs/sui-api/

From:
https://docs.sui.io/learn#use-supporting-sites

The footers of:
https://docs.sui.io/

And likely a few other places in the bodies of pages.

This is supposed to be the replacement:
https://playground.open-rpc.org/?schemaUrl=https://raw.githubusercontent.com/MystenLabs/sui/18

[2022-04-29 16:59] lxfind commented on #1594
Passing back to confirm

[2022-04-29 17:29] Clay-Mysten commented on #1672
Patrick, please let me know when the new API link is permanent.

We should also discuss whether we should pose this as a direct replacement. Or are there deltas we should point out? Thanks!

[2022-04-29 23:25] asonnino opened #1680 "Make ConsensusListener constant memory"
The following field of the `ConsensusListener` is may grow very large: https://github.com/MystenLabs/sui/blob/448f3a58d2cc5192a45b63cee02786a4abfcf40a/sui_core/src/consensus_adapter.rs#L162

We also need a way to clean it up (e.g. using feedback from the ConsensusAdapter).

[2022-04-30 01:24] 666lcz opened #1683 "[gateway] return TransactionEffects for GetTransactions"
See this [thread](https://mysten-labs.slack.com/archives/C02GD7J9HUM/p1651280104670429?thread_ts=1651279947.416909&cid=C02GD7J9HUM) for details

[2022-04-30 02:07] #1624 closed

[2022-04-30 02:37] lxfind opened #1685 "Make Gateway tx execution idempotent"
If for some reason we want to be able to re-execute tx that has already been successfully executed, we should check if the effects already exist.

[2022-04-30 15:46] gdanezis commented on #1099
The latest diffs implement the gossip protocol:
- #1670
- #1676

[2022-05-01 00:17] 666lcz opened #1694 "[bug] clarify Wallet("Parse error: missing field `error` at line 1 column 1738")"
We often encountered this mystic error, especially when using the `WalletContext`(e.g., in the faucet server and wallet cli) that's on an outdated build and connected to the gateway.

[code]

My hunch is that this error happens during deserialization between WalletContext <> gateway similar to https://stackoverflow.com/questions/70408593/serde-missing-field-error-when-deserializing-json-file . Giv

[2022-05-01 02:48] #1330 closed

[2022-05-01 02:50] lxfind opened #1696 "Provide a timestamp for each transaction for the explorer"
We will eventually need to display timestamp on explorer, and it needs to support transactions that haven't made into checkpoints yet.

Initial proposa:
[code]

After some discussions, we think that adding a timestamp to the signature may not be the best idea. One reason is that at checkpoint, we will actually strip the signatures from all tx structures, which means the timestamp will be stripped.

[2022-05-01 04:38] kchalkias commented on #1696
There are many ways to introduce timestamps to our protocol, all with their pros and cons.
a) user sets a timestamp or range as a tx input (or better sign it as metadata), and if validators receive it inside some threshold they also sign. Obviously this provides very relaxed guarantees.

b) validators add it to their fastX signatures (thus certified tx carries many timestamps, as each validator mi

[2022-05-01 05:56] lxfind commented on #1696
What timestamp do you think we should display in an explorer for each transaction?

[2022-05-01 09:19] kchalkias commented on #1696
Some explorers also add "time received" from their backing full node. That's the easiest atm for UI purposes.

[2022-05-01 16:42] lxfind commented on #1696
I was thinking that we shouldn't sign the timestamp, as it comes with the signature which is malleable.

[2022-05-01 23:40] #1683 closed

[2022-05-02 10:01] patrickkuo commented on #1694
This is serde error due to mismatch of client and server object schema, this should only happen if there is a schema change, I will see if I can make the error more meaningful.

[2022-05-02 10:21] gdanezis opened #1707 "[node] Mempool buffer + active driving of transactions (RFC)"
*What is the issue?* The current node receives trasnactions to process (as transactions or certificates) and if it is not in a position to process them immediately returns an error code, relying on clients to re-transmit. However, instead we could (in addition?) pass any unsuccessful transactions / certificates to an active-authority task, and attempt to bring the node up to date to process it, as

[2022-05-02 10:27] gdanezis opened #1708 "[node] Execution pipeline for share object transactions (RFC)"
*What is the issue?* Share object transactions are processed in 3 phases: first they get a certificate securing the locks for all owned objects. Then they are sequenced to secure the locks of shared objects. And finally they are executed in causal order. However, different nodes may not have all information necessary to execute in the last phase, due to being mildly (or majorly) out of sync (even

[2022-05-02 14:20] 666lcz commented on #1043
@Andrew47 @patrickkuo is the backend support for this ready?

[2022-05-02 14:27] 666lcz commented on #1043
From @patrickkuo : This has been supported in https://github.com/MystenLabs/sui/pull/1556 . @Andrew47 do you see any more blockers?

[2022-05-02 14:54] 666lcz commented on #1565
Something like

`wallet request-gas --faucet-url <> --address <>`

[2022-05-02 15:40] lxfind commented on #1402
@kchalkias Do we plan to do anything here for DevNet?

[2022-05-02 15:41] lxfind commented on #1562
@velvia Please take a look and flesh out more details on the plans/issues in this domain. Thanks!

[2022-05-02 15:51] #1680 closed

[2022-05-02 16:37] lxfind opened #1712 "Add an Authority API that can query the cert+effect for a list of transaction digests"
For a fullnode following an authority, once it gets a list of tx digest through the follower API, it will want to know the exact certified transaction as well as the signed effects from the authority for each transaction. To make it more efficient (avoid querying tx by tx), we should provide an API that can query (cert+effect) tuple for a list of tx.
@gdanezis @laura-makdah What do you think?
@bmw

[2022-05-02 17:37] Clay-Mysten commented on #1636
Francois mentions the possibility of a Move Skeptic.

[2022-05-02 17:55] lxfind opened #1714 "Use a separate table to store object metadata"
In `handle_transaction` step, we currently read all objects needed by the transaction. This can be expensive and unnecessary because we don't need the content of the objects at all until we execute them. This gets even tricky with shared objects: shared objects may be getting updated all the time, the shared object you read during `handle_transaction` phase may become immediately out-of-dated righ

[2022-05-02 18:42] velvia commented on #1562
@lxfind yes 100% but dev.net deploys is taking up all my spare time.

[2022-05-02 20:31] Clay-Mysten commented on #1672
Thanks, Patrick. I'm starting this process. Two questions:
1. Should we be concerned anonymous editing is allowed on the playground site? Can others alter the view we offer?
2. Is that playground link reliable/persistent enough to link from our various locations for some perpetuity? Or will it change frequently?

[2022-05-02 20:49] velvia commented on #1714
@lxfind I do like this idea.  That is being able to read the metadata quickly and modify it.  Really in a traditional table these would be separate fields which could be updated and read separately.

Note that this has a slight interaction with https://github.com/MystenLabs/sui/issues/1318

When the object table is changed to use (ObjID, version) keys, then you'll be able to read shared objects at

[2022-05-02 20:52] bmwill opened #1716 "Use type safety instead of a boolean flag when verifying transactions"
see here for a code pointer: https://github.com/MystenLabs/sui/pull/1687/files/d4aa5493df34ab7a318eb03c2f166043a0084985#diff-9dc81331cd21e900d784f0b9cef27f5a9afdc7a6f577a622d73c43124f54e237R164

[2022-05-02 20:55] bmwill opened #1717 "network: investigate sending back rich errors"
The old networking stack would send back rich errors by serializing the actual SuiError in the response. During the migration to grpc this was eliminated, although it can be added back by serializing this error information into the `details` field of a grpc status.

[2022-05-02 20:56] bmwill opened #5256 "network: add timeouts for establishing connections"

[2022-05-02 21:06] velvia commented on #1572
This is done now.  Functional RPC server is at gateway.devnet.sui.io

[2022-05-02 21:06] #1572 closed

[2022-05-02 22:26] Clay-Mysten commented on #1651
Hi Chris,

I'm wondering on the status of:
[go/cli-devnet](http://go/cli-devnet)

Will it be ready to go live soon? Coordinating with others in:
https://github.com/MystenLabs/Prose/issues/23

And am still not sure what is expected then. Thanks!

[2022-05-02 22:36] Clay-Mysten commented on #1357
Hi team,

I'm working on:
https://github.com/MystenLabs/Prose/issues/23

And noting the call to link to Explorer URLs and docs. For reference, from:
https://docs.sui.io/explore#sui-explorer

We link to:
https://github.com/MystenLabs/sui/tree/explorer-rest/explorer
https://github.com/MystenLabs/sui/tree/explorer-rest/explorer/client

It looks like we should instead link into:
https://github.com/Mys

[2022-05-02 22:57] Clay-Mysten commented on #1672
All done here. Thanks for the collaboration, Patrick!

[2022-05-02 22:57] velvia opened #1725 "Separate locking in SuiDataStore to LockService"
This is part of #891.

There is already a PR out, so this is just tracking the work.

https://github.com/MystenLabs/sui/pull/1302

[2022-05-02 22:58] Clay-Mysten commented on #1672
Noting I staged these changes, and they LGTM. For example, see the SDK link in the footer here:
https://devportal-qa.web.app/

[2022-05-02 23:09] velvia opened #1727 "Re-assess Sui storage growth with TxBatches"
https://docs.google.com/spreadsheets/d/1oYUuoNj2dVTv7bQ-qKQu26DKPbUMJl7DjV-y5ZUPUWg/edit#gid=719625127

- The above only has one axes: TPS
- We need a second one based on transaction batch size, and varying it.  The first time this was done there was no batching, or equivalently batch size == 1.
- Also need to analyze what happens if every object is kept (full node?  Gateway?)

[2022-05-02 23:11] velvia opened #1728 "Event subscription POC"
- no reliable subscription
- Just filtering batches obtained from authorities
- just to get out the door

[2022-05-02 23:12] velvia commented on #1562
Done.

[2022-05-02 23:12] #1562 closed

[2022-05-02 23:13] velvia commented on #1562
FWIW I have roadmap of Storage related tasks here: https://www.notion.so/mystenlabs/Sui-Storage-Roadmap-Tasks-Timeline-b68bfedcfefc42c6a96e39af983c2c67

[2022-05-02 23:25] Clay-Mysten commented on #1391
I'm adding Adam as I think he may have taken care of this in:
https://github.com/MystenLabs/sui/pull/1653#event-6516906348

[2022-05-03 01:42] awelc commented on #1391
I only fixed Move quickstart (move.md). I think @lxfind either already did or was at least planning to similarly update the extended tutorial.

[2022-05-03 02:29] lxfind commented on #1391
I have fixed the object tutorial already.
btw @awelc we also no longer require ordering of arguments, so we want to reflect that change in move.md as well

[2022-05-03 14:30] gdanezis commented on #1708
The problem is more acute for shared objects, since not being able to execute a cert with a shared object blocks the execution of subsequent transactions from other users. In the owned object case it only blocks objects from the old owner / new owner.

[2022-05-03 14:40] gdanezis commented on #1717
How comes tests did not break as a result of this? I thought some of the gateway logic depends on the type of error returned to function correctly.

[2022-05-03 14:43] gdanezis commented on #1712
One option is to have a batch request indeed. Another option is to have a streaming API to do all requests to authority with a set of streaming responses back. This is what we used to have.

The batch approach is a little more compact, but I do wonder if we need to special case or support a generic batch request containing a number of requests internally, and returning a vec of their responses.

[2022-05-03 14:45] gdanezis commented on #1714
The case of executing shared objects under high-concurrency is also overlapping with https://github.com/MystenLabs/sui/issues/1708 and yet another reason why shared object execution should probably be optimised for the fact that shared object transactions need to be executed in a known order, rather than trying to execute them all in parallel and filing for most of them most of the time.

[2022-05-03 15:07] gdanezis commented on #1696
The issue with introducing a timestamp, particularly within the signature is that inevitably people will interpret it as having high integrity. I do wonder if for this use case a local timestamp, at the time of reception of the tx or checkpoint is not what we need.

The bigger issue of a timestamp we can use within move is much more tricky.

[2022-05-03 15:51] #1571 closed

[2022-05-03 15:51] #1418 closed

[2022-05-03 15:51] #1195 closed

[2022-05-03 15:52] #1197 closed

[2022-05-03 15:56] #237 closed, assigned to patrickkuo, stella3d, 666lcz

[2022-05-03 15:56] todd-mystenlabs commented on #237
Need more specific issues.  Closing this one, too general.

[2022-05-03 16:00] lxfind commented on #1696
Would it work if we name the field with something very explicit, like median_sign_time?

[2022-05-03 16:00] todd-mystenlabs commented on #1537
Scope this down to a small set of crates that we can deploy first, and unblock Rust developers.  This could lead to more engagement/usage by the Rust community.

[2022-05-03 16:05] Clay-Mysten opened #1733 "Expand list of binaries"
In https://github.com/MystenLabs/sui/pull/1611 we discovered this list is incomplete:
https://docs.sui.io/build/install#binaries

Francois has filed the related:
[[doc, UX] split our binaries from the Sui crate by use case](https://github.com/MystenLabs/sui/issues/1639#)
#1639

I'm now filing this issue to update the install docs for our forthcoming event as we will be using the install docs exten

[2022-05-03 16:35] huitseeker opened #5257 "[crypto, network] Wire in TLS to gRPC"
We have a TODO in several places to wire in TLS:

https://github.com/MystenLabs/narwhal/blob/d7963d378102ff7ebf1cc901ab2cc64ec8cd3b07/network/src/primary.rs#L48

And we also have a crate in mysten-infra:
https://github.com/MystenLabs/mysten-infra/tree/main/rccheck

That implements mTLS:
https://www.cloudflare.com/learning/access-management/what-is-mutual-tls/

This task tracks wiring the two toget

[2022-05-03 16:49] huitseeker opened #5258 "[processor] Check that received batches match a valid Header (or better)"
The processor currently accepts any data from a counterpart, hashes it and reports the availability of the corresponding hash.

https://github.com/MystenLabs/narwhal/blob/main/worker/src/processor.rs

But since this does not involve any signature verification or deserialization, this data could be rubbish (and not correspond to any Header), and imposes an unchecked burden of storage on the worker.

[2022-05-03 17:51] velvia opened #1738 "Gateway spews lots of ERRORs from readable_serde.rs"
[code]

[2022-05-03 17:55] velvia commented on #1738
Probably related:
[code]

[2022-05-03 18:10] arun-koshy opened #1739 "Rename Wallet doc section 'Transferring Objects' to 'Transferring Coin'"
This [section](https://docs.sui.io/build/wallet#transferring-objects) should be named transfer coin/gas. I mistakenly tried to transfer a NFT with this section instead of a coin/gas object. Probably need a little more distinction about what "objects" can be transferred with this wallet command.

[code]

[2022-05-03 18:35] akichidis opened #1742 ""Conflicting transaction already received" after submitting transaction with low gas"
I used the `split-coin` function via the wallet terminal to split an existing coin. I've put a low gas budget which made the transaction fail with a message `Insufficient gas: \"Ran out of gas while deducting computation cost`

After trying to repeat the transaction, no matter how many times or gas-budget setup (or even `amounts` property), I only got the following message `Conflicting transaction

[2022-05-03 18:39] Clay-Mysten commented on #1739
I started a fix and convo in a TODO with:
https://github.com/MystenLabs/sui/pull/1743

Including [@Adam Welc](https://mysten-labs.slack.com/team/U02TE9MUL92), [@Xun Li](https://mysten-labs.slack.com/team/U02P9CDJZDX) and [@Sam Blackshear](https://mysten-labs.slack.com/team/U02CJ362G5B) for guidance on the limitations of transfer.

[2022-05-03 19:00] arun-koshy opened #1746 "Explorer search navigates to Object Error page for New Accounts"
Figured out what the issue was with the new `accounts` not displaying on explorer. Think by default when you search using an address it tries to find the `account` via `/addresses` but if it cannot it will search for the `object` via `/objects`? So for an `account` without objects it will be default navigate you to the `/objects`  where it will return the following error.

[code]

The issue here i

[2022-05-03 19:08] huitseeker opened #1747 "Better error message for "Attempt to transfer an object that's not a coin""
Passing an NFT object ID through the wallet's `transfer` function results in the message:
[code]
See
https://github.com/MystenLabs/sui/blob/c3ee146af546ccf3d049098551741fef54b00dd6/sui_types/src/error.rs#L55-L56

While the behavior is expected, this message could be more helpful, in pointing out that non-coin object transfers must go through a distinct Move call (and possibly helping me, the user,

[2022-05-03 19:11] huitseeker opened #1748 "Better error message for error message when trying to transfer someone else's coin."

[2022-05-03 19:14] huitseeker opened #1749 "Better error message for error message when trying to transfer someone else's coin."
When trying to transfer someone else's coin, I get the error message:

[code]
Where 2EE081526D004F6ADEB4E14292B68A8AA00E4FB3 is the owner. The wallet submitting the transfer is running with :
[code]

Folks unfamiliar with transfer logic may be surprised by this and think they did something wrong.

A better error message would be: "the owner of that coin object is Foo, which is not among the addres

[2022-05-03 19:17] huitseeker commented on #1749
for ownership confirmation:
[code]

[2022-05-03 19:17] huitseeker commented on #1748
Dupe of #1749, misclick

[2022-05-03 19:17] #1748 closed

[2022-05-03 19:31] huitseeker opened #1750 "Bug in gas deduction logic: out of budget transaction still goes through"
From a wallet at 5c44cd22, when I set the gas budget at 200 I get a success with accounting:
[code]
(I'm transferring simple coins)

Now I run this same loop with simple coin objects (fresh out of the faucet), and the only address of the wallet is C4A844F47F241B8815AC1536562966020E3B67E3. The gas budget is now 20.
[code]

In other terms, I managed to transfer objects w/o paying for the transfer (a

[2022-05-03 19:56] lxfind opened #1752 "Shouldn't show `UnexpectedMessage` when an error happened in `handle_transaction`"
Currently if we send a transaction that would trigger an error in the authority during `handle_transaction` phase, the `AuthorityClient` will error out and return `UnexpectedMessage` instead of the real error.

For example, let's first run:
[code]
Pick the first object ID, and then run:
[code]
You would see
[code]
which doesn't make much sense.

[2022-05-03 20:25] Clay-Mysten commented on #967
Hi Francois,

I believe this is addressed. Janet is asking.

[2022-05-03 20:32] Clay-Mysten commented on #568
Adding Janet as she's looking for status on this.

[2022-05-03 21:16] #1752 closed

[2022-05-03 21:25] lxfind opened #1756 "Wallet should try to pick a gas object that's currently not locked"
When running the wallet, the wallet has the ability to pick a gas object automatically.
However we currently don't filter on gas objects that are currently locked.
We could go as far as filtering this, or we could do something simple like always pick a random gas object so that we have better chance of not picking the locked object.
@patrickkuo @oxade

[2022-05-03 21:26] oxade commented on #1756
@lxfind locked by the validators or locked by gateway?

[2022-05-03 21:26] arun-koshy opened #1757 "Improve error message when attempting split-coin for an amount greater than the coins value"
[code]

[2022-05-03 21:28] lxfind commented on #1756
By the gateway due to another tx

[2022-05-03 21:33] longbowlu opened #1758 "remove `address` param from `genesis` function as we can get the address from genesis config"
context here: https://github.com/MystenLabs/sui/pull/1661#discussion_r863973592

[2022-05-03 21:43] arun-koshy opened #1759 "Wallet locked up after multiple failed calls to split-coin"
My wallet is locked up after multiple intentional split-coin failures. Full logs below but this error is what caused the full lockup

`RPC call failed: ErrorObject { code: ServerError(-32000), message: "Inconsistent results observed in the Gateway. This should not happen and typically means there is a bug in the Sui implementation. Details: \"Failed to download some objects after transaction succe

[2022-05-03 21:59] bmwill commented on #1717
🤷🏼 I guess there weren't tests that checked for this

[2022-05-03 22:00] Clay-Mysten opened #1761 "Document new wallet setup"
It appears we have introduced a new feature to prompt users to create a wallet configuration - whee!

This is included in our draft docs for a forthcoming deliverable but not in our live docs:
https://docs.sui.io/build/wallet

So does this negate `sui genesis`? Who can help me explain its use? Can you update wallet.md directly? Please help!

[2022-05-03 22:05] patrickkuo commented on #1761
Sure I will start a PR

the new prompt is for user that don't want to run a local network/ only want to connect to DevNet.

`sui genesis` is still needed for people running local sui network.

[2022-05-03 22:17] longbowlu opened #1763 "Have different gas object generation logic for production & benchmarking"
context: https://github.com/MystenLabs/sui/pull/1661#discussion_r864300932

[2022-05-03 22:34] 666lcz commented on #1563
Not needed for Devnet launch

[2022-05-03 22:37] #1750 closed

[2022-05-03 23:11] todd-mystenlabs commented on #1750
Nice catch!!

[2022-05-04 01:13] github-actions[bot] opened #1769 "Link checker report"
## Summary

| Status        | Count |
|---------------|-------|
| 🔍 Total      | 406   |
| ✅ Successful | 378   |
| ⏳ Timeouts   | 0     |
| 🔀 Redirected | 0     |
| 👻 Excluded   | 0     |
| ❓ Unknown    | 0     |
| 🚫 Errors     | 28    |

## Errors per input
### Errors in doc/src/explore/tutorials.md
* [file:///github/workspace/doc/src/build/move](file:///github/workspace/doc/src/build/move): Fai

[2022-05-04 01:14] lxfind opened #1770 "Put stdlib and Sui framework in a separate repo"
This will allow other github Move repos to depend on it.
https://mysten-labs.slack.com/archives/C02DRAL32GN/p1651624688197299

[2022-05-04 03:37] #1756 closed

[2022-05-04 05:03] bmwill opened #1774 "lint: add a lint that disallows using dependencies from the same repo from different revisions"
https://github.com/MystenLabs/sui/pull/1773 is an instance of us needing to fix this.

[2022-05-04 06:56] #1357 closed

[2022-05-04 07:06] 666lcz commented on #1357
https://github.com/MystenLabs/sui/pull/1771 closes this issue.

[https://github.com/MystenLabs/sui/tree/main/explorer](https://github.com/MystenLabs/sui/tree/main/explorer?rgh-link-date=2022-05-02T22%3A36%3A51Z)
[https://github.com/MystenLabs/sui/tree/main/explorer/client](https://github.com/MystenLabs/sui/tree/main/explorer/client?rgh-link-date=2022-05-02T22%3A36%3A51Z)

@Clay-Mysten , I removed

[2022-05-04 09:09] patrickkuo commented on #1747
I have added transfer must go through move call in the error message in [this PR](https://github.com/MystenLabs/sui/pull/1762)

For more helps, maybe we should consider implementing error code and have a dedicated doc(or StackOverflow) for extra informations, can't put too much info in the error message...

[2022-05-04 09:16] gdanezis opened #1779 "[node] Improve rocksdb concurrency handling and multiple tasks / connections"
The current node architecture fires up a new task for each incoming request / tcp connection, that then drives the execution of transactions on a shared mem Authority State object. On machines with multiple cores this may lead to 10s of concurrent operations hitting rocksdb, and after about 10-12 cores doing concurrent accesses we start seeing a plateau in db performance. As a result tasks block a

[2022-05-04 15:21] huitseeker opened #5259 "Eliminate recursion in path compression"

[2022-05-04 16:00] Andrew47 commented on #1746
@arun-koshy / @stella3d --> has this problem been resolved? If not, the issue is likely to be that a new account has no objects and not having objects raises an error.

[2022-05-04 16:22] #1233 closed

[2022-05-04 16:24] awelc opened #1783 "[Move docs] Add documentation on how to use `Balance<T>` separated from `Coin<T>`"
`Balance<T>` has been recently separated from the `Coin<T>` object that no longer has the store ability. It would be great to get some docs on how to use this combo.

[2022-05-04 16:40] bmwill commented on #1452
The solution would be to update the narwhal pointer in sui to a version which includes the grpc network changes so that we can use https://github.com/MystenLabs/narwhal/blob/main/types/src/generated/narwhal.rs#L395 to send transactions to narwhal as these tonic clients can be cheaply cloned and share the same underlying connection

[2022-05-04 16:57] bwann52 opened #1786 "Add Sui link to Explorer landing page"
<img width="681" alt="image" src="https://user-images.githubusercontent.com/22014917/166738030-432b8e79-39d8-43b1-aff8-ef70342fe099.png">

Can we add either:
1) Add Sui before Mysten Labs (preferred)
or
2) Replace Mysten Labs with Sui

[2022-05-04 17:17] oxade commented on #1393
We decided to de-scope this for now to only include item (3).
This has merged here https://github.com/MystenLabs/sui/pull/1765
If we want retries across more areas, we will revisit

[2022-05-04 17:17] #1393 closed

[2022-05-04 17:17] #1522 closed

[2022-05-04 19:05] Jibz1 commented on #1786
@bwann52 this is done

[2022-05-04 19:05] #1786 closed

[2022-05-04 20:04] lxfind opened #1790 "Fully support shared object in Gateway"
There are likely a few items that still need to be done to fully get shared objects working in the Gateway.
https://github.com/MystenLabs/sui/pull/1637 added the support at API level.
Other things we need to do:
1. We need to be able to obtain the object state of the shared object after the transaction finishes execution, so that we could use it combined with the effects to materialize changes in

[2022-05-04 20:07] #1327 closed

[2022-05-04 20:24] #1151 closed

[2022-05-04 20:24] #1159 closed

[2022-05-04 20:46] Clay-Mysten commented on #1739
Patrick said he was working on this. Not sure of the outcome.

[2022-05-04 20:53] patrickkuo commented on #1739
the code changes is done in https://github.com/MystenLabs/sui/pull/1762

[2022-05-04 20:54] patrickkuo commented on #1739
I will have a look at https://github.com/MystenLabs/sui/pull/1743 now

[2022-05-04 21:32] arun-koshy opened #1792 "Wallet interactive mode does not accept whitespaces in arguments"
[code]

From @longbowlu

[2022-05-05 00:44] laura-makdah commented on #1712
I agree having a way to batch transactions or anything else for that matter would be handy.

[2022-05-05 00:57] oxade commented on #1714
What all constitutes metadata?

[2022-05-05 01:00] lxfind commented on #1714
I am thinking of the following:
ObjectRef, Owner and MoveType (if it's a Move object)

[2022-05-05 01:03] arun-koshy opened #1801 "Interactive wallet will crash on publish if there are move compiler errors"
[code]

[2022-05-05 01:27] Clay-Mysten commented on #1733
This looks like the latest list:

[code]

[2022-05-05 04:06] arun-koshy commented on #1759
Wallet locked up again after some stress testing, but this time it only locked up when trying to do write actions (merge-coin, transfer, call etc.). Always returning the same error. I was only stress testing one address (`3FC1D945C33AD47D123E3AC0FAB854B3015F8E4D`) in my wallet, but when I switch to another address in my wallet or create a new wallet the same error is returned.

`RPC call failed: E

[2022-05-05 04:21] lxfind commented on #1801
https://github.com/move-language/move/issues/101

[2022-05-05 04:24] arun-koshy opened #1804 "Wallet locked up after stress testing merge-coin"
Wallet locked up during dogfood session 2 after some stress testing, but this time it only locked up when trying to do write actions (merge-coin, transfer, call etc.). Always returning the same error. I was only stress testing one address (`3FC1D945C33AD47D123E3AC0FAB854B3015F8E4D`) in my wallet, but when I switch to another address in my wallet or create a new wallet the same error is returned.

[2022-05-05 04:53] #1804 closed

[2022-05-05 05:12] sblackshear opened #1808 "[CLI] Funky string escaping in arguments to Move call"
The need to escape for object ID's and addresses in `wallet call` is a bit funky. To transfer an object I had to do:

`--args \"0xA6544796122877011F17EE3A1518825D4623C48F\" \"0x3fc1d945c33ad47d123e3ac0fab854b3015f8e4d\"`
, whereas it would be nice to do something like

`--args 0xA6544796122877011F17EE3A1518825D4623C48 0x3fc1d945c33ad47d123e3ac0fab854b3015f8e4d`

Particularly because if you are mis

[2022-05-05 05:16] #1739 closed

[2022-05-05 06:05] lxfind opened #1815 "[Gateway] Distinguish between account address and object id in `get_owned_objects` API"
When calling `get_owned_objects`, we should know if we are querying the objects of an account, or child objects of an object. So that we can filter in the results to make sure we are not returning the wrong thing.
This can happen when there is a conflict between object ID and account address.

[2022-05-05 08:28] patrickkuo commented on #1733
We will need https://github.com/MystenLabs/sui/issues/1639 to clean up the binaries, we are currently building all binaries in the `sui/sui` package, we need to group them by use case and only keep the ones relevant to doc user before we can update the doc.

[2022-05-05 10:02] gdanezis commented on #1714
Maybe a flag on whether it is immutable, owned, or shared?

[2022-05-05 14:55] lxfind commented on #1714
The `Owner` enum contains such information already.

[2022-05-05 15:14] losamsel opened #1821 "Tokenomics Whitepaper on Docs Sui Site"
Tokenomics whitepaper draft by Alonso was shared last month. Goal is to have a finalised version for public view.

Reference to Design Doc:
https://www.notion.so/mystenlabs/Sui-Tokenomics-Whitepaper-8358431553e040bd843dc0f3d2971a8d

Notion board will include specific checklist, timelines, etc. until they are ready for public view.

[2022-05-05 16:07] asonnino opened #1822 "Increment shared-object version number"
If execution of shared object transactions fails because there is not enough gas, the sequence number of all shared-objects in the transaction needs to be increment anyway.

[2022-05-05 16:40] losamsel commented on #1821
Alonso is editing the final PDF.

We do have the draft PDF available. We have it attached in the Notion board for your full review.

Checklist in the Notion board outlined:

- Design Doc reference (https://www.notion.so/Sui-Tokenomics-Whitepaper-8358431553e040bd843dc0f3d2971a8d)
- GitHub request for updates sections (to be completed by @Jennifer Kye & @alonso by May 6, 2022)
- [ ]  Timelines:

[2022-05-05 18:34] longbowlu opened #1837 "A Streamlined e2e Genesis process"
This is an umbrella task that covers all issues to be addressed for genesis until mainnet (and beyond).

Known issues/ potential improvement:
1. #1478 : we now remove private key (aka `KeyPair`) from `AuthorityPrivateInfo` but it's still in `GenesisConfig` and `NetworkConfig` so there's more work to do.
    -    The end goal is to make `genesis_config` a file that can be distributed to all validat

[2022-05-05 18:35] lxfind opened #1839 "Make sure that unlocking equivocated objects at epoch boundary is cheap"
We don't prevent people from equivocating their own objects in general. At epoch boundaries, we expect locked objects to be unlocked (i.e. no longer equivocated) so that they can be continue used in the next epoch.
However, we need to make sure that unlocking them is a cheap operation. Otherwise, someone can just equivocate a massive number of objects every epoch which would DDoS our epoch boundar

[2022-05-05 19:15] lxfind commented on #1837
Relevant issues: https://github.com/MystenLabs/sui/issues/1297

[2022-05-05 20:00] huitseeker commented on #1822
And a gas deduction for failure must happen as well.

[2022-05-06 22:47] 666lcz opened #1849 "[Feature][Umbrella] Browser Extension Wallet"
## Goal

Building a browser extension based wallet for early adopters and application developers to interact with Sui.

## Timeline
Released to public by TBD (May 20 - 27th)

## POCs
Eng: @pchrysochoidis @666lcz
PM: @bwann52
Docs: @Clay-Mysten

## Design Doc

[go/browser-extension-wallet](http://go/browser-extension-wallet)

## Tasks

- [ ] https://github.com/MystenLabs/sui/issues/2185

[2022-05-07 01:45] stella3d opened #1851 "[explorer] latest transactions column alignment"
At certain widths, the latest transactions labels get out of alignment with the values.  This screenshot is about 780 pixels wide.

<img width="781" alt="image" src="https://user-images.githubusercontent.com/14057748/167233064-5d439e24-2155-47bf-982c-c579c6d4b058.png">

to repro, go to https://explorer.devnet.sui.io/ and set the window width to 780.

[2022-05-07 04:18] #1651 closed

[2022-05-08 22:40] michaelhly opened #1856 "Cannot generate typescript client off of openrpc schema"
Looks like a memory leak somewhere in the open-rpc generator. Not entirely sure if this is due to a bug in the open-rpc generator or due to malformed API schema.

I created an issue with details here:
https://github.com/open-rpc/generator/issues/689

[2022-05-09 04:27] 666lcz opened #1863 "[TypeScript SDK] Fix lint warnings and errors"
[code]

[2022-05-09 04:29] stella3d commented on #1851
fixed!

[2022-05-09 04:29] #1851 closed

[2022-05-09 05:21] #1279 closed

[2022-05-09 05:37] lxfind opened #1866 "[P0] [Umbrella] End-to-end shared object support"
Shared objects are fully usable in Move by transaction sent from the wallet.
Dependencies:
- [ ] https://github.com/MystenLabs/sui/issues/1822
- [ ] https://github.com/MystenLabs/sui/issues/1790
- [ ] Add comprehensive testing that use shared objects

[2022-05-09 08:41] #1808 closed

[2022-05-09 09:00] patrickkuo commented on #1808
this is fixed by https://github.com/MystenLabs/sui/pull/1800

[2022-05-09 09:02] patrickkuo commented on #1792
this is fixed by https://github.com/MystenLabs/sui/pull/1795

[2022-05-09 09:02] #1792 closed

[2022-05-09 11:39] akichidis opened #5260 "[certificate process] improvement: do not re-process certificates"
### Description

Currently a certificate can be [processed](https://github.com/MystenLabs/narwhal/blob/41a6eaacfdca2742c6fcb89a02222adf5b75327e/primary/src/core.rs#L270) multiple times . The code allow to re-process the same certificate again and again - although no side effects are expected - which is inefficient.

We might want to wether we already have processed this `certificate` and avoid doi

[2022-05-09 14:43] sblackshear opened #1869 "[Build] Windows support"
It appears Sui does not currently build on windows:
https://discord.com/channels/916379725201563759/968392942517649438/972317391956635708
https://discord.com/channels/916379725201563759/968390564825407518/972354712164761632

It would be nice to get this working + add CI support to ensure it continues to work.

[2022-05-09 15:24] Andrew47 commented on #1275
This issue is handled by now merged PR https://github.com/MystenLabs/sui/pull/1741

[2022-05-09 15:34] Andrew47 commented on #1043
This issue is closed by PR https://github.com/MystenLabs/sui/pull/1802

[2022-05-09 15:34] #1043 closed

[2022-05-09 15:38] Andrew47 commented on #1264
The Transactions Results are now connected to live data, which removes the short-term need that mock transaction data was required in creating the UI. There is still a need for mock transaction dataset which, as with addresses and objects, would be useful in supporting a testing suite for the Transaction Results UI. This issue has hence been broadened to cover the creation of a test suite for the

[2022-05-09 15:51] Andrew47 opened #1870 "[explorer] Search Disambiguation"
## The Problem

Suppose a user wishes to see results on the object `0000000000000000000000000000000000000002`. If they search for this value, that get the address of this label (https://explorer.devnet.sui.io/addresses/0000000000000000000000000000000000000002) rather than the object. The only way for the user to find the results on the object is by directly typing in the correct URL (https://explo

[2022-05-09 16:19] Clay-Mysten commented on #1651
For posterity, noting:
draft - go/dogfood-devnet
live doc - https://docs.sui.io/explore/devnet

Great work, all!

[2022-05-09 16:19] lxfind commented on #225
This seems to be closed by https://github.com/MystenLabs/sui/pull/1534
Passing to @gdanezis to triage

[2022-05-09 16:22] stella3d commented on #1870
Wikipedia-style disambiguation page sounds fine - show links to the results with a type label beside them

for consideration, another way we could allow the search box to be used for type-specific nav:

an addition to the text in the search bar, like Twitter or Unity have
`(t|type):(address|transaction|object)`

`t:address 0000000000000000000000000000000000000002`
`type:object 00000000000000000000

[2022-05-09 16:24] lxfind commented on #1419
Roadmap: https://www.notion.so/mystenlabs/Fullnode-Roadmap-4fe8dd95eb034b94b04c53714739f9d0

[2022-05-09 16:25] bwann52 commented on #1199
module name displayed, closing this item

[2022-05-09 16:25] #1199 closed

[2022-05-09 16:25] #1193 closed

[2022-05-09 16:26] lxfind commented on #1385
I am closing this one because it really depends on how we want full nodes to follow validators.

[2022-05-09 16:26] #1385 closed

[2022-05-09 16:38] Andrew47 commented on #1870
@stella3d --> I like the idea of having a search filter. If the user specified the type of entity, then the search would only have to ping the one API resource. We could either have a dropdown box next to the search bar where the user specifies one category of entity to search within or provide a checklist where the user specifies one or more categories to search across.

Perhaps this is best hand

[2022-05-09 16:40] lxfind commented on #1409
Close this one as it's broken down to individual issues.

[2022-05-09 16:40] #1409 closed

[2022-05-09 16:42] Andrew47 opened #1871 "[explorer] Search Filter"
Following on from the discussion in https://github.com/MystenLabs/sui/issues/1870, a search filter could work as follows:

* Dropdown box next to the search bar where the user specifies one category of entity to search within or
* A checklist where the user specifies one or more categories to search across.

By having a search filter, the number of APIs pinged in searching for items is reduced, re

[2022-05-09 16:43] Andrew47 commented on #1870
I've created a new issue for the search filter idea here: https://github.com/MystenLabs/sui/issues/1871

[2022-05-09 16:43] lxfind commented on #297
We should follow up and figure out what is our target for Pre-Testnet

[2022-05-09 16:46] lxfind commented on #1307
This is closed by https://github.com/MystenLabs/sui/pull/1803

[2022-05-09 16:46] #1307 closed

[2022-05-09 17:12] Clay-Mysten commented on #1102
I'm adding Evan as I caught some incredibly useful diagrams in his presentation on storage today in our Blockchain Workshop. Evan, please point me to that ReactJS preso. :-)

[2022-05-09 17:13] Clay-Mysten commented on #1102
Let's consider some of the text too. Can file a distinct issue for that (storage docs) if Evan agrees. Thanks!

[2022-05-09 17:20] Clay-Mysten commented on #1102
Also asking Ade for guidance. He notes we should avoid diagrams that show an object going into multiple TXes with the same version as confusing.

[2022-05-09 17:31] damirka opened #1872 "[framework] Move TreasuryCap to Balance (+ mint + burn)"
While working on #1688 I've encountered a couple problems which required workarounds:

1. To burn a `Balance`, I need to wrap it into a `Coin` and then call `Coin::burn()`. 😕
2. To mint a `Balance` I need to use a Coin module with a method `Coin::mint_balance()`.

Due to recent changes to Balance and (possibly) a need to have other "non-standard" Coin implementations, the need of importing Coin an

[2022-05-09 18:38] Clay-Mysten commented on #1849
This looks related:
https://github.com/MystenLabs/sui/pull/1845

Trying to figure this out...

[2022-05-09 18:38] velvia commented on #1425
I'll add more items to this list,

[2022-05-09 18:46] lxfind commented on #531
https://mysten-labs.slack.com/archives/C02GD7J9HUM/p1652067097691489
We want three modes of transfer:
- deduct gas and transferred amount from single coin object ("magic transfer")
- deduct gas from one coin object, deduct transferred amount from a different coin object (???)
- deduct gas from one coin object, transfer a different coin object (today's transfer)

we should merge these 3 into one Tr

[2022-05-09 18:48] lxfind commented on #659
This is out-of-dated and will be replaced by the latest fullnode plan.

[2022-05-09 18:48] #659 closed

[2022-05-09 19:07] 666lcz commented on #1849
![CleanShot 2022-05-09 at 12 03 38](https://user-images.githubusercontent.com/76067158/167479610-82d88f40-29bb-4df7-8b21-b05b66c90372.png)

@Clay-Mysten  yes, #1845 is mentioned as part of the task as the first step to set up the project. We just kicked off the project and we are still working on the design doc. We will loop you in at the end of next week once we have more details.

[2022-05-09 21:11] Clay-Mysten commented on #1102
I'm noting Evan has cleansed diagrams found at:
https://app.golinks.io/sui-storage

[2022-05-09 21:40] FrankC01 opened #1874 "Install on Intel Mac Fails"
Install failing on macosx 12.3.1 (intel)
[code]

when I cargo install --locked --git https://github.com/MystenLabs/sui.git --branch "devnet" sui with this error:
[code]

[2022-05-10 05:21] 666lcz commented on #1552
Closing due to failing to reproduce

[2022-05-10 05:21] #1552 closed

[2022-05-10 05:22] 666lcz commented on #1146
Done: https://www.npmjs.com/package/@mysten/sui.js

[2022-05-10 05:22] #1146 closed

[2022-05-10 08:47] #1202 closed

[2022-05-10 14:44] sblackshear commented on #1839
Good callout! Couple of questions:

- This is probably naive, but would it work to simply drop the lock table at epoch boundaries
- In the proposed scheme, will old locks permanently sit in the DB if they are not explicitly overriden?

[2022-05-10 14:48] sblackshear commented on #1839
This also makes me think about equivocation as a potential DDOS vector--an equivocating attacker can add locks to every authority "for free", and then do it again each epoch.

[2022-05-10 15:20] lxfind commented on #1839
Not in the current lock implementation. Today's transaction_lock table not just store transaction locks, but for every object known to the authority it contains an entry (set to None at first, and then to the transaction latter when it's really locked).
I don't quite remember why we need an entry per object here (we already have the objects table). I can ask George about it.

[2022-05-10 15:25] #1609 closed

[2022-05-10 17:49] Clay-Mysten commented on #1578
Hi Chris,

We don't yet link to these docs. Should we yet? I recall you saying to wait yet forget where we are tracking that addition. Thanks!

[2022-05-10 18:15] arun-koshy opened #5262 "Refactor BlockRemover Component"
There seems to be a lot of similarities with how `BlockRemover` & `BlockWaiter` operate and are used by `GetCollections` & `RemoveCollections`. Because of this there seems to be some items that can be refactored and shared.

1. Combine `BlockErrorType` into one shared type

[code]
Proposed Shared `BlockErrorType`
[code]

2. Change return type of `BlockRemover` to be the same as `BlockWaiter`

We s

[2022-05-10 20:43] lxfind commented on #615
Most of the things in the list were done. This is largely out of dated now.

[2022-05-10 20:43] #615 closed

[2022-05-10 20:52] lxfind commented on #1758
@longbowlu Is this done already?

[2022-05-10 21:12] Clay-Mysten commented on #1244
This is becoming an issue, for sure.

[2022-05-10 21:19] Clay-Mysten commented on #1244
Examples where deltas are biting us:
https://github.com/MystenLabs/sui/pull/1743
https://github.com/MystenLabs/sui/pull/1791
https://github.com/MystenLabs/sui/pull/1630
https://github.com/MystenLabs/sui/pull/1611
https://github.com/MystenLabs/sui/pull/1588
https://github.com/MystenLabs/sui/issues/1639
https://github.com/MystenLabs/sui/issues/1733
https://github.com/MystenLabs/sui/issues/1605

[2022-05-10 21:24] lxfind commented on #1839
Forgot to ask @gdanezis in our 1:1.
Any downsides of breaking up the current transactions_lock table into two tables, where one tracks any known object refs, and one tracks refs locked by a transaction?

[2022-05-10 21:40] 666lcz commented on #1244
Synced with @patrickkuo offline, he will come up with a comprehensive plan for API Versioning

[2022-05-10 21:50] Clay-Mysten opened #1887 "Configure and link to custom domain for Sui rustdoc"
Following up on:
https://github.com/MystenLabs/sui/pull/1878

Francois suggests we employ a custom domain for:
https://mystenlabs.github.io/sui/
Which is now public and linked from:
https://docs.sui.io/build/install
https://docs.sui.io/contribute

Or rather will be after these are pushed to prod:
https://github.com/MystenLabs/sui/pull/1881
https://github.com/MystenLabs/sui/pull/1880

I've announce

[2022-05-10 21:51] Clay-Mysten commented on #1887
Other background:
https://github.com/MystenLabs/mysten-infra/pull/71

[2022-05-10 23:01] oxade commented on #492
Depends on https://github.com/MystenLabs/sui/issues/1521

[2022-05-10 23:01] oxade commented on #492
Spoke to @tnowacki  and we have a general plan for this

[2022-05-11 01:17] #1452 closed

[2022-05-11 11:05] #1204 closed

[2022-05-11 11:07] 666lcz commented on #1203
Moving to the Mainnet milestone because nothing will have a "price" before then.

[2022-05-11 11:11] 666lcz commented on #1206
@Andrew47 , would you love to take on this? I think it is very useful to have this that allows user to switch between Local, DevNet, and (soon) TestNet, similar to https://explorer.solana.com/ (See top right corner)

[2022-05-11 11:12] #1205 closed

[2022-05-11 17:48] #1264 closed

[2022-05-11 22:00] Clay-Mysten commented on #1248
+Godwin

Hi Xun,

I've created these PRs to replace relative links into example source files with absolute links:
https://github.com/MystenLabs/sui/pull/1902
https://github.com/MystenLabs/sui/pull/1903
https://github.com/MystenLabs/sui/pull/1904
https://github.com/MystenLabs/sui/pull/1905

Not sure why I can't add this issue to the Development field of those PRs. See this text file for the reporte

[2022-05-11 22:21] Clay-Mysten commented on #1248
And here is that one to link up chapter 4:
https://github.com/MystenLabs/sui/pull/1893

[2022-05-11 22:45] Clay-Mysten commented on #1362
Noting more work to do while in here. Thanks to Xun for highlighting it. From:
https://mysten-labs.slack.com/archives/C02GD7J9HUM/p1652297426678019

Damir asked how to run a local node and a gateway. Xun referred him to:
https://github.com/MystenLabs/sui/blob/main/doc/src/build/wallet.md#starting-the-network

But noted that doc is now mixing steps between connecting a wallet to the DevNet network

[2022-05-11 22:48] velvia opened #1907 "Switch from prometheus_exporter to reuse existing HTTP stack"
From @bmwill :

This issue is logged to remind us to clean this up.  Unknown effort as prometheus_exporter is really easy to use, but we want to switch to using one of the existing HTTP stacks.... (hyper/rpsee?)

[2022-05-11 23:41] Clay-Mysten commented on #1065
+Godwin

Hi all,

Just catching you up on progress. We are soon to embark upon:
https://github.com/MystenLabs/sui/issues/1363
https://github.com/MystenLabs/sui/issues/1362

In preparation for the likely breakage that will ensure - despite my best efforts, `grep`, etc. - I am installing other external link checkers and fixing up issues encountered when running them. We need a clean baseline before

[2022-05-11 23:42] Clay-Mysten commented on #1065
I should note an outstanding concern is catching broken named anchors, ex. page-name#new-anchor. I haven't found a reliable solution for those yet.

Also, Godwin please do let me know how and where to add redirects. Thanks!

[2022-05-12 01:03] lxfind opened #1917 "[Gas] Genesis objects should have storage_rebate too"
Currently genesis objects are inserted directly without going through transactions, and hence their storage_rebate field is 0.
This creates strange situations where the first time someone mutates a genesis object they need to pay extra.

[2022-05-12 10:10] akichidis opened #5263 "[block_synchronizer_handler] use certificate_waiter for a certificate to be delivered"

[2022-05-12 11:50] huitseeker commented on #1696
I'm not so sure.
The drift tolerance for the block timestamp in Ethereum is [900 seconds](https://github.com/ethereum/wiki/blob/c02254611f218f43cbb07517ca8e5d00fd6d6d75/Block-Protocol-2.0.md#block-validation-algorithm), and in practice, discussions on the subject show people correctly interpret this value as malleable. [Other](https://docs.solana.com/implemented-proposals/validator-timestamp-oracl

[2022-05-12 12:49] asonnino opened #1920 "Mysterious network error"
So the following issue happens very rarely (about once every 300 runs) when running tests:
[code]

The best way I found to reproduce the error is the following:
[code]

[2022-05-12 15:16] bwann52 commented on #1240
@Jibz1 is there any work to be done for our dev portal to be able to "support" multiple languages? If not we can close this issue

[2022-05-12 15:18] bwann52 opened #1921 "Explorer: Fix cookies permission logic"
We should have cookies permissions enabled for all sui domains and subdomains, including Sui.io, docs.sui.io and explorer.xxx.sui.io

Once a user accepts or choose setting, the permissions popup should not appear when they visit other subdomains. Currently sui.io and docs.sui.io is still triggering permissions despite saving settings.

[2022-05-12 15:56] Clay-Mysten commented on #1733
Now that we are planning to start publishing from the `devnet` branch and staging from `main`, can we add all of these?

[2022-05-12 16:01] arun-koshy opened #5305 "Review error handling of gRPC endpoints"
After [discussion](https://github.com/MystenLabs/narwhal/pull/224#discussion_r870253131) in PR#224, we realized there are errors we are currently surfacing that we may not want to surface to narwhal customers. Once endpoints have stabilized we can go back and identify the customer critical errors.

[2022-05-12 16:03] bwann52 opened #1922 "document devportal infrastructure"

[2022-05-12 16:17] bwann52 commented on #1274
Note: the fix does not impact external links and side menus

[2022-05-12 16:28] bwann52 commented on #1921
5/12 couldn't reproduce for sui.io and docs.sui.io; next to implement cookie to explorer

[2022-05-12 17:02] huitseeker commented on #340
Closed in https://github.com/MystenLabs/sui/commit/37410be1abf2316b86c11b326c2e5eb7c5627c77

[2022-05-12 17:02] #340 closed, assigned to huitseeker

[2022-05-12 17:17] bmwill commented on #1455
Closed by https://github.com/MystenLabs/sui/pull/1910

[2022-05-12 17:17] #1455 closed

[2022-05-12 17:29] Clay-Mysten commented on #1065
Godwin, here is that text file output from `linkchecker` showing the broken image:
[404s-in-live-site.txt](https://github.com/MystenLabs/sui/files/8681380/404s-in-live-site.txt)

[code]

[2022-05-12 17:33] Clay-Mysten commented on #1769
Thanks, Francois. All of the files in `doc/src/` should be fixed as of this morning. Will work on the rest in time.

Looking back for instructions on adding myself as the default assignee for these in Slack, which is a terrible archive BTW. Can you add those instructions here or make the change yourself and send me the PR? Let's automate this! Thanks.

[2022-05-12 18:38] huitseeker commented on #1274
This is a template for a Github action that checks such links:
https://github.com/MystenLabs/sui/pull/1766
(it probably requires configuration & tuning for the dev portal)

[2022-05-12 18:57] Clay-Mysten commented on #1617
Bauer, it looks like the same image here:
https://docs.sui.io/explore/sowork

[2022-05-12 23:19] asonnino opened #1930 "Stream shared-object certificates into consensus"
The following function is blocking: it submits a transaction to consensus and then waits for a reply.
https://github.com/MystenLabs/sui/blob/a9943f7b8414d3fd9a4298aa0cec2ddc0e015899/sui_core/src/consensus_adapter.rs#L100-L103

We could instead make it accept a stream of certificates and return responses to the client as they are sequenced.

[2022-05-12 23:41] Clay-Mysten commented on #1274
Thanks, Francois. This is now documented under Link check at:
https://app.golinks.io/dev-portal-work

[2022-05-13 00:24] huitseeker commented on #1920
I can reproduce:
[code]

[2022-05-13 05:03] lxfind commented on #1790
https://github.com/MystenLabs/sui/pull/1926
and
https://github.com/MystenLabs/sui/pull/1934
should do the trick

[2022-05-13 08:05] 666lcz commented on #1261
@stella3d I'm closing this per our discussion in today's meeting as we are going to reuse Fullnode Read API as the backend instead of a dedicated Explorer backend

[2022-05-13 08:05] #1261 closed

[2022-05-13 08:33] #769 closed

[2022-05-13 08:34] 666lcz commented on #769
@stella3d closing this because this seems to be done

[2022-05-13 08:34] #771 closed

[2022-05-13 08:35] #423 closed

[2022-05-13 08:36] #278 closed

[2022-05-13 08:44] #1386 closed

[2022-05-13 08:45] #1384 closed

[2022-05-13 08:45] #1417 closed

[2022-05-13 08:47] 666lcz commented on #424
@Andrew47 , this seems to be done right?

[2022-05-13 08:47] #424 closed

[2022-05-13 09:06] #1421 closed

[2022-05-13 09:09] Andrew47 commented on #1870
Fixing this issue is blocked by the RPC API not providing a way of distinguishing objects owning objects from addresses owning objects. Following a Slack discussion, there is buy-in on adding the following two functions in the RPC API (exact labels may vary):

* `get_owned_objects_of_address`: returns objects owned by an address.
* `get_owned_objects_of_object`: returns objects owned by an object.

[2022-05-13 09:15] 666lcz opened #1935 "Explorer: Content Moderation Service"
Use something like [Google Vision API](https://cloud.google.com/vision/docs/detecting-safe-search#vision_safe_search_detection-nodejs) so that we don't display inappropriate images on the Explorer

[2022-05-13 09:50] Andrew47 commented on #1870
For now, the address `0000000000000000000000000000000000000002` has had its owned objects removed thus facilitating searching for the object of this ID.

[2022-05-13 17:19] 666lcz opened #1948 "Explorer: Frontend Redesign Scoping"
We will onboard a design agency soon to do a design revamp(desktop + mobile)

- [x] Home
  - [x] Header & footer (Andrew, 0.5 weeks)
  - [x] transactions (0.5 week)
  - [ ] validators table (Stella, 2 day)
  - [ ] validator map (Ge, 2 day)
- [x] Transactions (Godwin, 1 week)
  - [x] TransferObject/TransferSui
  - [x] Move Call
  - [x] Publish
  - [ ] Batch Transaction
  - [ ] Change Epoch
- [x] Ad

[2022-05-13 17:21] 666lcz opened #1949 "Explorer: show the address that publishes the package"
In the package object we stored the transaction that creates the object, which can be used to derive the address

[2022-05-13 17:23] 666lcz opened #1950 "Explorer: Clean up frontend codebase"
- remove pre-gdc code

[2022-05-13 17:29] 666lcz opened #1951 "Explorer: Read data from Full Node rather than Gatway"

[2022-05-13 17:30] 666lcz opened #1952 "Explorer: Paginate for recent transactions"
On the landing page, we should show a paginated view of most recent transactions

[2022-05-13 18:00] velvia commented on #1191
We don't have a timestamp field in a transaction, but maybe this is motivation for adding one.... /cc @gdanezis @huitseeker

[2022-05-13 18:26] 666lcz opened #1956 "Front end testing Infra"
- Integration tests that will spawn up an RPC server(with pre-created objects) and check if the explorer/Wallet is broken or not

[2022-05-13 18:27] lxfind opened #1957 "'authority_server::server_tests::test_subscription' flacky"
I sometimes see this test failure:
[code]

[2022-05-13 18:33] lxfind commented on #1822
https://github.com/MystenLabs/sui/pull/1955 should address this

[2022-05-13 18:43] 666lcz commented on #1201
@lxfind, added you as the backend POC for this. Feel free to re-assign to the right POC

[2022-05-13 19:09] #1822 closed

[2022-05-13 19:22] huitseeker commented on #1957
Yep, it occured in the completely benign CI PR:
https://github.com/MystenLabs/sui/pull/1941
see run:
https://github.com/MystenLabs/sui/runs/6426849219?check_suite_focus=true
Saved logs:
https://gist.github.com/huitseeker/df31345d92b3f19d5a747aed821c0b02
/cc @asonnino

[2022-05-13 19:23] #1871 closed

[2022-05-13 19:52] stella3d commented on #1935
This is my P0, starting on it tonight

[2022-05-13 19:55] Clay-Mysten commented on #1672
In the left nav of docs.sui.io, we still link from API V 0.1 to:
https://app.swaggerhub.com/apis/MystenLabs/sui-api/

Shouldn't it go to?
https://playground.open-rpc.org/?uiSchema%5BappBar%5D%5Bui:splitView%5D=false&schemaUrl=https://raw.githubusercontent.com/MystenLabs/sui/main/sui/open_rpc/spec/openrpc.json&uiSchema%5BappBar%5D%5Bui:input%5D=false

@Jibz1 , what do you think? (Caught by a link c

[2022-05-13 20:36] asonnino commented on #1957
Yes it happens all the time to me as well. Copying here @huitseeker way to reproduce this kind of errors:
[code]

[2022-05-13 20:41] Jibz1 commented on #1672
@Clay-Mysten I will update it

[2022-05-13 21:47] Jibz1 commented on #1672
@Clay-Mysten @patrickkuo with the rpc playground all the links go to a single [location]( https://playground.open-rpc.org/?uiSchema%5BappBar%5D%5Bui:splitView%5D=false&schemaUrl=https://raw.githubusercontent.com/MystenLabs/sui/main/sui/open_rpc/spec/openrpc.json&uiSchema%5BappBar%5D%5Bui:input%5D=false). Also on the docs, do I show the schemas or the methods.

[2022-05-13 22:11] bmwill commented on #1837
Here are some thoughts on what the genesis process may look like:
1. We identify the Validators that will comprise the initial validator-set
2. We identify the initial set of objects that we want to be apart of genesis (move stdlib, initial accounts with sui, validator-set, etc)
3. We'll need to have some "ceremony" by which each validator signs the initial set of objects, as a genesis state or in

[2022-05-13 22:34] gdanezis commented on #1957
Yes, I am on it.

[2022-05-13 22:36] gdanezis commented on #1930
Wait a second, does that mean that we can only have a number of shared object transactions in flight equal to the number of cores / threads in the tokio runtime? Once they are all blocked, the whole runtime will block no? Is this not a liveness issue?

[2022-05-13 22:52] asonnino commented on #1930
Yes, we can have one shared-objects transaction  in flight per tokio task. I think it is the same for single-owner transactions, right? The difference is that shared-objects transactions take longer and so TPS is degraded if we don’t fix this issue. I would call it a perf issue rather than a lives issue, am I missing something?